In [1]:
import json
import numpy as np
import pandas as pd
import psycopg2
pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 500)
pd.set_option("display.float_format", lambda x: "%.2f" % x) # Suppress scientific notation for float data type

## How many doctors on Medicaid drug utilization boards have received payments from drug manufacturers?

We will use Open Payments data to determine the extent of payments from 2013 through 2016 from drug manufacturers to doctors serving on Medicaid drug utilization boards between the start of 2016 and March of 2018.

First, connect to the database.

In [2]:
with open("config.json") as f:
    conf = json.load(f)

In [3]:
conn_str = "host={} dbname={} user={} password={}".format(conf["host"], conf["database"], conf["user"], conf["password"])

In [4]:
conn = psycopg2.connect(conn_str)
conn.autocommit = True # Allow the notebook to commit transactions (like updating a column) to the connected database.

Query the database to return all doctors serving on Medicaid drug utilization boards and, if applicable, what general purpose payments they received from drug manufacturers.

In [5]:
general_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_general.change_type AS change_type,
       open_payments_general.physician_profile_id AS physician_id,
       open_payments_general.physician_first_name AS first,
       open_payments_general.physician_middle_name AS middle,
       open_payments_general.physician_last_name AS last,
       open_payments_general.recipient_city AS city,
       open_payments_general.recipient_state AS state_name,
       open_payments_general.physician_specialty AS specialty,
       open_payments_general.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_general.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_general.total_amount_of_payment_usdollars AS amount,
       open_payments_general.date_of_payment AS payment_date,
       open_payments_general.form_of_payment_or_transfer_of_value AS payment_form,
       open_payments_general.nature_of_payment_or_transfer_of_value AS nature_of_payment,
       open_payments_general.record_id AS record_id,
       open_payments_general.dispute_status_for_publication AS dispute_status,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_1,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_1,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_2,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_2,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_3,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_3,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_4,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_4,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_5,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_5
FROM dur_committee_members
LEFT JOIN open_payments_general ON dur_committee_members.first_name = open_payments_general.physician_first_name
AND dur_committee_members.last_name = open_payments_general.physician_last_name
AND dur_committee_members.state_name = open_payments_general.recipient_state""",
                           con=conn)

DatabaseError: Execution failed on sql 'SELECT dur_committee_members.*,
       open_payments_general.change_type AS change_type,
       open_payments_general.physician_profile_id AS physician_id,
       open_payments_general.physician_first_name AS first,
       open_payments_general.physician_middle_name AS middle,
       open_payments_general.physician_last_name AS last,
       open_payments_general.recipient_city AS city,
       open_payments_general.recipient_state AS state_name,
       open_payments_general.physician_specialty AS specialty,
       open_payments_general.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_general.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_general.total_amount_of_payment_usdollars AS amount,
       open_payments_general.date_of_payment AS payment_date,
       open_payments_general.form_of_payment_or_transfer_of_value AS payment_form,
       open_payments_general.nature_of_payment_or_transfer_of_value AS nature_of_payment,
       open_payments_general.record_id AS record_id,
       open_payments_general.dispute_status_for_publication AS dispute_status,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_1,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_1,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_2,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_2,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_3,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_3,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_4,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_4,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_5,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_5
FROM dur_committee_members
LEFT JOIN open_payments_general ON dur_committee_members.first_name = open_payments_general.physician_first_name
AND dur_committee_members.last_name = open_payments_general.physician_last_name
AND dur_committee_members.state_name = open_payments_general.recipient_state': column dur_committee_members.state_name does not exist
LINE 31: AND dur_committee_members.state_name = open_payments_general...
             ^

In [42]:
general_payments["amount"] = pd.to_numeric(general_payments["amount"], errors="raise") # Convert the amount column to float data type
general_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21014 entries, 0 to 21013
Data columns (total 43 columns):
first_name             21012 non-null object
last_name              21014 non-null object
middle_initial         2953 non-null object
degree_1               19653 non-null object
degree_2               1872 non-null object
state                  21014 non-null object
dur_pt_other           21014 non-null object
info_date              21014 non-null object
date_minutes_or_web    21014 non-null object
industry_rep           21 non-null object
location               6249 non-null object
specialty              1832 non-null object
committee_alt_name     4930 non-null object
notes                  7346 non-null object
disclosure_received    4251 non-null object
conflict_disclosed     2235 non-null object
conflict_details       1686 non-null object
change_type            20323 non-null object
physician_id           20323 non-null object
first                  20323 non-null object
middle                 12150 non-null object
last                   20323 non-null object
city                   20323 non-null object
state_name             20323 non-null object
specialty              20154 non-null object
manufacturer_id        20323 non-null object
manufacturer_name      20323 non-null object
amount                 20323 non-null float64
payment_date           20323 non-null object
payment_form           20323 non-null object
nature_of_payment      20323 non-null object
record_id              20323 non-null object
dispute_status         20323 non-null object
drug_device_1          17395 non-null object
ndc_1                  15566 non-null object
drug_device_2          17395 non-null object
ndc_2                  15566 non-null object
drug_device_3          17395 non-null object
ndc_3                  15566 non-null object
drug_device_4          17395 non-null object
ndc_4                  15566 non-null object
drug_device_5          17395 non-null object
ndc_5                  15566 non-null object
dtypes: float64(1), object(42)
memory usage: 6.9+ MB

In [43]:
general_payments.head()

,first_name,last_name,middle_initial,degree_1,degree_2,state,dur_pt_other,info_date,date_minutes_or_web,industry_rep,location,specialty,committee_alt_name,notes,disclosure_received,conflict_disclosed,conflict_details,change_type,physician_id,first,middle,last,city,state_name,specialty,manufacturer_id,manufacturer_name,amount,payment_date,payment_form,nature_of_payment,record_id,dispute_status,drug_device_1,ndc_1,drug_device_2,ndc_2,drug_device_3,ndc_3,drug_device_4,ndc_4,drug_device_5,ndc_5
0,DAVID,ELWELL,None,MD,None,CO,P&T,04/04/17,Minutes,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,None,None,nan,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,JAMES,FEINSTEIN,None,MD,None,CO,P&T,01/05/16,Minutes,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,None,None,nan,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,KERSTIN,FROYD,None,MD,None,CO,DUR,02/16/16,Minutes,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,nan,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,LEWAYNE,GARRISON,None,RPh,None,CO,DUR,02/16/16,Minutes,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,nan,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,MICHELLE,HILAIRE,None,PharmD,None,CO,P&T,04/04/17,Minutes,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,None,None,nan,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

Do we have duplicates in the data?

In [44]:
general_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
152466203    2
380096188    2
391060074    2
380096208    2
340912492    2
340912490    2
216452814    2
216452820    2
216452826    2
216452830    2
216452834    2
391274420    2
391274442    2
391274468    2
391274490    2
391274512    2
391274534    2
395501984    2
391274556    2
391274580    2
391274606    2
391274626    2
391274651    2
104616676    2
166669518    2
380096196    2
309879230    2
156466714    2
309879226    2
156466710    2
137834354    2
137827356    2
156358632    2
156358630    2
379924742    2
369928800    2
187780858    2
395915292    2
362593542    2
201767802    2
362613306    2
362624166    2
362625480    2
362630068    2
362631152    2
308852652    2
362634994    2
395749944    2
395749874    2
187906294    2
149553884    2
380096180    2
166669512    2
166669506    2
391406890    2
166669498    2
150145894    2
137686916    2
137685728    2
137685726    2
137684458    2
137683842    2
330599479    2
137683840    2
137682976    2
365949744    2
137674344    2
137674342    2
137674340    2
137674338    2
137674336    2
137674334    2
137629504    2
418717895    2
137612286    2
202279132    2
281944736    2
339663784    2
339663782    2
292506442    2
292506444    2
137688216    2
166669437    2
166669492    2
391515926    2
166669486    2
166669478    2
166669472    2
267979234    2
166669464    2
166669456    2
166669450    2
166669445    2
104790966    2
137688218    2
267926086    2
24053482     2
293514492    2
293514490    2
137689458    2
137689144    2
137689130    2
137689128    2
137688468    2
137688466    2
156466712    2
206854068    2
339461010    2
208191932    2
214246978    2
214246982    2
214246984    2
300126516    2
300126532    2
398223752    2
398223732    2
398223707    2
300126543    2
102393188    2
414665369    2
256381878    2
300385532    2
397415484    2
300737950    2
319559024    2
251154916    2
335610337    2
207246996    2
103835238    2
378655542    2
378655562    2
378655582    2
171864926    2
377998036    2
246095418    2
377998022    2
160591626    2
255846404    2
147043438    2
320384876    2
320384882    2
158285722    2
158285718    2
158285712    2
158285708    2
158285702    2
158285698    2
158285694    2
158285690    2
158285684    2
158285681    2
158285671    2
255343784    2
199211660    2
333553876    2
103165602    2
357391298    2
377997974    2
377997994    2
378655604    2
378655626    2
196701430    2
168722758    2
294771614    2
306997378    2
306997566    2
415257405    2
415257419    2
415257487    2
415257491    2
415257841    2
415257851    2
415257903    2
415258171    2
415258381    2
137930088    2
415262155    2
101639938    2
137926994    2
306998582    2
306998589    2
306998600    2
306998608    2
306999090    2
306999859    2
246095420    2
306997286    2
306997273    2
306997138    2
206924018    2
101929606    2
101929604    2
101929602    2
101929600    2
168651288    2
275429974    2
396720166    2
396679774    2
184698852    2
294940972    2
319136444    2
306996642    2
30564598     2
319136428    2
319136228    2
319136216    2
319136184    2
306991722    2
186889990    2
306994051    2
414880983    2
294833024    2
337396746    2
362635913    2
4789716      2
205248842    2
283313108    2
325991674    2
316509998    2
316509996    2
316509994    2
4795732      2
316509990    2
316509988    2
316509986    2
316509984    2
316509982    2
393031808    2
406191608    2
217901490    2
217901292    2
136467372    2
189168362    2
267623432    2
153076879    2
153076872    2
153076865    2
153076856    2
266781966    2
393681994    2
393681958    2
325938538    2
288595606    2
393681866    2
189546544    2
4795748      2
4795749      2
4795990      2
4795991      2
4795613      2
            ..
334938986    1
334936682    1
334891148    1
334892518    1
334892520    1
334892528    1
334893206    1
334893212    1
334893230    1
334893236    1
334893246    1
334909110    1
334919078    1
334930414    1
334930426    1
334931054    1
334936476    1
333536534    1
333536532    1
333536530    1
333505304    1
333505290    1
333505292    1
333505294    1
333505296    1
333505298    1
333505300    1
333505302    1
333505306    1
333536528    1
333505308    1
333505310    1
333505312    1
333505314    1
333505316    1
333505318    1
333505320    1
333501576    1
333501574    1
333501572    1
333501570    1
333500826    1
333500828    1
333500830    1
333500832    1
333500834    1
333500836    1
333500838    1
333500840    1
333501556    1
333501558    1
333501560    1
333501562    1
333501564    1
333501566    1
333501568    1
333505322    1
333506878    1
333506880    1
333536494    1
333536498    1
333536500    1
333536502    1
333536504    1
333536506    1
333536508    1
333536510    1
333536512    1
333536514    1
333536516    1
333536518    1
333536520    1
333536522    1
333536524    1
333536526    1
333536496    1
333536492    1
333519758    1
333536490    1
333519760    1
333526112    1
333526114    1
333532082    1
333532084    1
333532086    1
333532088    1
333532090    1
333532092    1
333532094    1
333532096    1
333536482    1
333536484    1
333536486    1
333536488    1
335017714    1
335041636    1
337115050    1
336947966    1
336943446    1
336943886    1
336943890    1
336945868    1
336945878    1
336945882    1
336947956    1
336947974    1
336987576    1
336950820    1
336953908    1
336957838    1
336966262    1
336969508    1
336983736    1
336984300    1
336937330    1
336937328    1
336937322    1
336937096    1
336868746    1
336874082    1
336876172    1
336876200    1
336876202    1
336881606    1
336894312    1
336903020    1
336909434    1
336912666    1
336913380    1
336914914    1
336921886    1
336921904    1
336934632    1
336986934    1
337002044    1
335059048    1
337100668    1
337070338    1
337074814    1
337081348    1
337094482    1
337094756    1
337097070    1
337097470    1
337103512    1
337002084    1
337104988    1
337105098    1
337105982    1
337107810    1
337108514    1
337109108    1
337114556    1
337066546    1
337065454    1
337063902    1
337059678    1
337003104    1
337005828    1
337008300    1
337011382    1
337011482    1
337015698    1
337020536    1
337024010    1
337036734    1
337041506    1
337043132    1
337043278    1
337048088    1
337049574    1
337055776    1
336867984    1
336866810    1
336866314    1
335874782    1
335437220    1
335437234    1
335437240    1
335612596    1
335786426    1
335820912    1
335836996    1
335874784    1
336865102    1
335874786    1
335874788    1
335874790    1
335879264    1
335880842    1
335884788    1
335884790    1
335414622    1
335414006    1
335413860    1
335240896    1
335060778    1
335086952    1
335087731    1
335097976    1
335109928    1
335110954    1
335139730    1
335140026    1
335141040    1
335141542    1
335144186    1
335152926    1
335154112    1
335160832    1
335160834    1
335884820    1
335884822    1
335884824    1
336584238    1
336801318    1
336801320    1
336801322    1
336801324    1
336801326    1
336813130    1
336829022    1
336830128    1
336834434    1
336841606    1
336846418    1
336848470    1
336849978    1
336861180    1
336864664    1
336620026    1
336584236    1
335884826    1
336579570    1
335884828    1
335884830    1
335884832    1
335884834    1
335884836    1
335884838    1
335884840    1
335884842    1
335884844    1
335884846    1
335884966    1
335884968    1
335924472    1
336407621    1
336425190    1
100003566    1
Name: record_id, Length: 20029, dtype: int64

We do. Let's drop them.

In [45]:
general_payments.drop_duplicates("record_id", inplace=True)
general_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
9891599      1
207363190    1
207344180    1
207344728    1
207348488    1
207350178    1
207353240    1
207356232    1
207362752    1
207365098    1
207332926    1
207366898    1
207371980    1
207792532    1
207792538    1
207792542    1
207792546    1
207792548    1
207342926    1
207331720    1
206883076    1
207294556    1
207266400    1
207267764    1
207269564    1
207280234    1
207280424    1
207286232    1
207286552    1
207294690    1
207330652    1
207295384    1
207302986    1
207309264    1
207318844    1
207319746    1
207322526    1
207328590    1
207792552    1
207792556    1
207792560    1
208183058    1
208153788    1
208153976    1
208153978    1
208167538    1
208167540    1
208176238    1
208179934    1
208189204    1
207792562    1
208191932    1
208192024    1
208195510    1
208201196    1
208208560    1
208209506    1
208209986    1
208150812    1
208149920    1
208149918    1
208149916    1
207792566    1
207918980    1
207918982    1
207960846    1
207972480    1
207972484    1
207997878    1
207997882    1
207997884    1
208138412    1
208138414    1
208138416    1
208144906    1
208149912    1
208149914    1
207265176    1
207255954    1
207252822    1
207032340    1
206995568    1
207015162    1
207024268    1
207025004    1
207025008    1
207025372    1
207028416    1
207032344    1
207074690    1
207032346    1
207036776    1
207043288    1
207049596    1
207062390    1
207064982    1
207072354    1
206992030    1
206966090    1
206966088    1
206966084    1
206885622    1
206887272    1
206897528    1
206897978    1
206898984    1
206904430    1
206905750    1
206906540    1
206911376    1
206924018    1
206927950    1
206938946    1
206949245    1
206953598    1
206962048    1
207074246    1
207078672    1
207246996    1
207216906    1
207196134    1
207206630    1
207208696    1
207208900    1
207212180    1
207215600    1
207216074    1
207217124    1
207079234    1
207217750    1
207219960    1
207225788    1
207227220    1
207230590    1
207235794    1
207236626    1
207190454    1
207190172    1
207182858    1
207179316    1
207081504    1
207082246    1
207086330    1
207098378    1
207101058    1
207107054    1
207107378    1
207109956    1
207111752    1
207128042    1
207145530    1
207161566    1
207163804    1
207179306    1
207179310    1
208211756    1
208212522    1
208221682    1
210964786    1
210936646    1
210936648    1
210949402    1
210949404    1
210949560    1
210949562    1
210960030    1
210965810    1
211053876    1
210969888    1
210976152    1
210976158    1
210976772    1
210976776    1
211037944    1
211046594    1
210936430    1
210929484    1
210929482    1
210913524    1
210145560    1
210222250    1
210234800    1
210237160    1
210237228    1
210473992    1
210474466    1
210475456    1
210493142    1
210862870    1
210899470    1
210899478    1
210904152    1
210904154    1
210904376    1
211051598    1
211058866    1
210145556    1
211912148    1
211739016    1
211752042    1
211805576    1
211818102    1
211818104    1
211912072    1
211912146    1
211948060    1
211066447    1
211951388    1
211963646    1
211963648    1
211971836    1
211972842    1
211976054    1
211981018    1
211359550    1
211350686    1
211350684    1
211350682    1
211071078    1
211082212    1
211084190    1
211084854    1
211084904    1
211092044    1
211104408    1
211107918    1
211125276    1
211129990    1
211130006    1
211140108    1
211350676    1
211350678    1
211350680    1
210145558    1
210145554    1
208223544    1
208347208    1
208338868    1
208344572    1
208344576    1
208344578    1
208344580    1
208344582    1
208344586    1
208351534    1
208377778    1
208351536    1
208351538    1
208351540    1
208351542    1
            ..
335097976    1
335109928    1
335110954    1
335139730    1
335140026    1
335141040    1
335141542    1
335144186    1
335152926    1
335154112    1
335160832    1
335160834    1
335240896    1
335413860    1
335414006    1
334892520    1
334891148    1
335884826    1
333536518    1
333536504    1
333536506    1
333536508    1
333536510    1
333536512    1
333536514    1
333536516    1
333536520    1
333536538    1
333536522    1
333536524    1
333536526    1
333536528    1
333536530    1
333536532    1
333536534    1
333536502    1
333536500    1
333536498    1
333536496    1
333532082    1
333532084    1
333532086    1
333532088    1
333532090    1
333532092    1
333532094    1
333532096    1
333536482    1
333536484    1
333536486    1
333536488    1
333536490    1
333536492    1
333536494    1
333536536    1
333536540    1
334891142    1
334391750    1
333582084    1
333582086    1
333595344    1
334181354    1
334363898    1
334380956    1
334390768    1
334391756    1
333546772    1
334493418    1
334616582    1
334617638    1
334625328    1
334889426    1
334889538    1
334891131    1
333582082    1
333582080    1
333582078    1
333582076    1
333553876    1
333557860    1
333557862    1
333557864    1
333557866    1
333557868    1
333557870    1
333557872    1
333564088    1
333564090    1
333578226    1
333578228    1
333578230    1
333578232    1
333582074    1
335884824    1
335884828    1
337319800    1
337105098    1
337094482    1
337094756    1
337097070    1
337097470    1
337100668    1
337103512    1
337104988    1
337105982    1
337151078    1
337107810    1
337108514    1
337109108    1
337114556    1
337115050    1
337124644    1
337143176    1
337081348    1
337074814    1
337070338    1
337066546    1
337011382    1
337011482    1
337015698    1
337020536    1
337024010    1
337036734    1
337041506    1
337043132    1
337043278    1
337048088    1
337049574    1
337055776    1
337059678    1
337063902    1
337065454    1
337145600    1
337155318    1
337005828    1
337266661    1
337222562    1
337226756    1
337230696    1
337239750    1
337245132    1
337250084    1
337261668    1
337274310    1
337163208    1
337284320    1
337291432    1
337296986    1
337301010    1
337309622    1
337312624    1
337317126    1
337217384    1
337202056    1
337197412    1
337193347    1
337167526    1
337172308    1
337178026    1
337178028    1
337178030    1
337178032    1
337178034    1
337178038    1
337178040    1
337178042    1
337178044    1
337178046    1
337187890    1
337188176    1
337192266    1
337008300    1
337003104    1
335884830    1
336841606    1
336801322    1
336801324    1
336801326    1
336813130    1
336829022    1
336830128    1
336834434    1
336846418    1
336868746    1
336848470    1
336849978    1
336861180    1
336864664    1
336865102    1
336866314    1
336866810    1
336801320    1
336801318    1
336620026    1
336584238    1
335884832    1
335884834    1
335884836    1
335884838    1
335884840    1
335884842    1
335884844    1
335884846    1
335884966    1
335884968    1
335924472    1
336407621    1
336425190    1
336579570    1
336584236    1
336867984    1
336874082    1
337002084    1
336953908    1
336945868    1
336945878    1
336945882    1
336947956    1
336947966    1
336947974    1
336950820    1
336957838    1
336876172    1
336966262    1
336969508    1
336983736    1
336984300    1
336986934    1
336987576    1
337002044    1
336943890    1
336943886    1
336943446    1
336937330    1
336876200    1
336876202    1
336881606    1
336894312    1
336903020    1
336909434    1
336912666    1
336913380    1
336914914    1
336921886    1
336921904    1
336934632    1
336937096    1
336937322    1
336937328    1
100003566    1
Name: record_id, Length: 20029, dtype: int64

What is the total value of general purpose payments to doctors serving on Medicaid drug utilization boards?

In [49]:
general_payments["amount"].sum()

2501139.0399999972

What percentage of doctors serving on Medicaid drug utilization boards received general purpose payments?

In [54]:
gp_payments_by_doc = general_payments.groupby(["state_name", "last_name", "first_name"])["amount"].sum().reset_index(name="total_amount")
gp_payments_by_doc.head()

  state   last_name first_name  total_amount
0    AK     CARLSON     ROBERT        147.82
1    AK    MCANALLY      HEATH        496.28
2    AK  PAPPENHEIM       JOHN        113.80
3    AL      CARTER        LEE       3747.19
4    AL      DAWSON  ELIZABETH         15.48

In [51]:
gp_payments_by_doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 4 columns):
state           297 non-null object
last_name       297 non-null object
first_name      297 non-null object
total_amount    296 non-null float64
dtypes: float64(1), object(3)
memory usage: 9.4+ KB

OK. So, of the 998 doctors serving on Medicaid drug utilization boards, 297 — 29.8 percent — received general purpose payments.

Query the database to return all doctors serving on Medicaid drug utilization boards and, if applicable, what ownership or investment interests they held in drug manufacturers.

In [31]:
ownership_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_ownership.change_type AS change_type,
       open_payments_ownership.physician_profile_id AS physician_id,
       open_payments_ownership.physician_first_name AS first,
       open_payments_ownership.physician_middle_name AS middle,
       open_payments_ownership.physician_last_name AS last,
       open_payments_ownership.recipient_city AS city,
       open_payments_ownership.recipient_state AS state_name,
       open_payments_ownership.physician_specialty AS specialty,
       open_payments_ownership.total_amount_invested_usdollars AS total_amount_invested,
       open_payments_ownership.value_of_interest AS value_of_interest,
       open_payments_ownership.terms_of_interest AS terms_of_interest,
       open_payments_ownership.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_ownership.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_ownership.interest_held_by_physician_or_an_immediate_family_member AS nature_of_interest,
       open_payments_ownership.record_id AS record_id,
       open_payments_ownership.dispute_status_for_publication AS dispute_status
FROM dur_committee_members
LEFT JOIN open_payments_ownership ON dur_committee_members.first_name = open_payments_ownership.physician_first_name
AND dur_committee_members.last_name = open_payments_ownership.physician_last_name
AND dur_committee_members.state_name = open_payments_ownership.recipient_state""",
                           con=conn)

In [57]:
# Convert the investment amount columns to float data type
ownership_payments["total_amount_invested"] = pd.to_numeric(ownership_payments["total_amount_invested"], errors="raise")
ownership_payments["value_of_interest"] = pd.to_numeric(ownership_payments["value_of_interest"], errors="raise")
ownership_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 33 columns):
first_name               996 non-null object
last_name                998 non-null object
middle_initial           112 non-null object
degree_1                 926 non-null object
degree_2                 90 non-null object
state                    998 non-null object
dur_pt_other             998 non-null object
info_date                998 non-null object
date_minutes_or_web      998 non-null object
industry_rep             9 non-null object
location                 186 non-null object
specialty                54 non-null object
committee_alt_name       126 non-null object
notes                    351 non-null object
disclosure_received      114 non-null object
conflict_disclosed       27 non-null object
conflict_details         16 non-null object
change_type              2 non-null object
physician_id             2 non-null object
first                    2 non-null object
middle                   1 non-null object
last                     2 non-null object
city                     2 non-null object
state_name               2 non-null object
specialty                2 non-null object
total_amount_invested    2 non-null float64
value_of_interest        2 non-null float64
terms_of_interest        2 non-null object
manufacturer_id          2 non-null object
manufacturer_name        2 non-null object
nature_of_interest       2 non-null object
record_id                2 non-null object
dispute_status           2 non-null object
dtypes: float64(2), object(31)
memory usage: 257.4+ KB

In [58]:
ownership_payments.head()

,first_name,last_name,middle_initial,degree_1,degree_2,state,dur_pt_other,info_date,date_minutes_or_web,industry_rep,location,specialty,committee_alt_name,notes,disclosure_received,conflict_disclosed,conflict_details,change_type,physician_id,first,middle,last,city,state_name,specialty,total_amount_invested,value_of_interest,terms_of_interest,manufacturer_id,manufacturer_name,nature_of_interest,record_id,dispute_status
0,ANDREAS,WALI,None,MD,None,PA,P&T,03/01/18,Web,None,None,cardiologist,None,effective Oct 11 2017,None,None,None,UNCHANGED,29544,ANDREAS,U,WALI,Camp Hill,PA,Allopathic & Osteopathic Physicians|Internal M...,19086.85,10607.38,Stock ownership,100000000133,TriReme Medical LLC,Physician Covered Recipient,413359278,No
1,SHARON,WEINSTEIN,None,MD,None,UT,DUR,12/08/16,Minutes,None,None,None,None,None,None,None,None,UNCHANGED,173760,SHARON,None,WEINSTEIN,Salt Lake City,UT,Allopathic & Osteopathic Physicians|Psychiatry...,0.00,0.00,None,100000005587,"DARA Biosciences, Inc.",Physician Covered Recipient,152335554,No
2,JAMES,MAGEE,None,MD,None,AR,DUR,02/27/18,Web,None,None,None,None,Listed on Magellan website at https://arkansas...,None,None,None,None,None,None,None,None,None,None,None,nan,nan,None,None,None,None,None,None
3,AMBER,FIGUEROA,None,DO,None,WA,P&T,03/01/18,Web,None,Wenatchee,family medicine,None,Columbia Valley Community Health,None,None,None,None,None,None,None,None,None,None,None,nan,nan,None,None,None,None,None,None
4,JEFFREY,PERRIN,None,MD,None,NC,DUR,03/01/18,Web,None,None,Pediatrics,None,from email from virginia niehaus,None,None,None,None,None,None,None,None,None,None,None,nan,nan,None,None,None,None,None,None

Do we have duplicates in the data?

In [59]:
ownership_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
413359278    1
152335554    1
Name: record_id, dtype: int64

What is the total value of the ownership or investment interests of doctors serving on Medicaid drug utilization boards?

In [60]:
ownership_payments["total_amount_invested"].sum()

19086.85

What percentage of doctors serving on Medicaid drug utilization boards held ownership or investment interests in drug manufacturers?

In [61]:
ownership_payments_by_doc = ownership_payments.groupby(["state_name", "last_name", "first_name"])["total_amount_invested"].sum().reset_index(name="total_amount")
ownership_payments_by_doc.head()

  state  last_name first_name  total_amount
0    AK    CARLSON     ROBERT           nan
1    AK     DEMAIN    JEFFERY           nan
2    AK     GREEAR    VINCENT           nan
3    AK   HIESTAND      JENNA           nan
4    AK  LILJEGREN      DIANE           nan

In [62]:
ownership_payments_by_doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 4 columns):
state           961 non-null object
last_name       961 non-null object
first_name      961 non-null object
total_amount    2 non-null float64
dtypes: float64(1), object(3)
memory usage: 30.1+ KB

Query the database to return all doctors serving on Medicaid drug utilization boards and, if applicable, what research payments they received from drug manufacturers.

In [30]:
research_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_research.change_type AS change_type,
       open_payments_research.teaching_hospital_name AS hospital,
       open_payments_research.physician_profile_id AS physician_id,
       open_payments_research.physician_first_name AS first,
       open_payments_research.physician_middle_name AS middle,
       open_payments_research.physician_last_name AS last,
       open_payments_research.recipient_city AS city,
       open_payments_research.recipient_state AS state,
       open_payments_research.physician_specialty AS specialty,
       open_payments_research.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_research.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_research.total_amount_of_payment_usdollars AS amount,
       open_payments_research.date_of_payment AS payment_date,
       open_payments_research.form_of_payment_or_transfer_of_value AS payment_form,
       open_payments_research.principal_investigator_1_first_name,
       open_payments_research.principal_investigator_1_middle_name,
       open_payments_research.principal_investigator_1_last_name,
       open_payments_research.principal_investigator_1_city,
       open_payments_research.principal_investigator_1_state,
       open_payments_research.principal_investigator_1_specialty,
       open_payments_research.principal_investigator_2_first_name,
       open_payments_research.principal_investigator_2_middle_name,
       open_payments_research.principal_investigator_2_last_name,
       open_payments_research.principal_investigator_2_city,
       open_payments_research.principal_investigator_2_state,
       open_payments_research.principal_investigator_2_specialty,
       open_payments_research.principal_investigator_3_first_name,
       open_payments_research.principal_investigator_3_middle_name,
       open_payments_research.principal_investigator_3_last_name,
       open_payments_research.principal_investigator_3_city,
       open_payments_research.principal_investigator_3_state,
       open_payments_research.principal_investigator_3_specialty,
       open_payments_research.principal_investigator_4_first_name,
       open_payments_research.principal_investigator_4_middle_name,
       open_payments_research.principal_investigator_4_last_name,
       open_payments_research.principal_investigator_4_city,
       open_payments_research.principal_investigator_4_state,
       open_payments_research.principal_investigator_4_specialty,
       open_payments_research.principal_investigator_5_first_name,
       open_payments_research.principal_investigator_5_middle_name,
       open_payments_research.principal_investigator_5_last_name,
       open_payments_research.principal_investigator_5_city,
       open_payments_research.principal_investigator_5_state,
       open_payments_research.principal_investigator_5_specialty,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_1,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_1,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_2,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_2,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_3,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_3,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_4,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_4,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_5,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_5,
       open_payments_research.expenditure_category1 AS expenditure_category_1,
       open_payments_research.expenditure_category2 AS expenditure_category_2,
       open_payments_research.expenditure_category3 AS expenditure_category_3,
       open_payments_research.expenditure_category4 AS expenditure_category_4,
       open_payments_research.expenditure_category5 AS expenditure_category_5,
       open_payments_research.expenditure_category6 AS expenditure_category_6,
       open_payments_research.dispute_status_for_publication AS dispute_status,
       open_payments_research.record_id AS record_id
FROM dur_committee_members
LEFT JOIN open_payments_research ON dur_committee_members.first_name = open_payments_research.physician_first_name
AND dur_committee_members.last_name = open_payments_research.physician_last_name
AND dur_committee_members.state_name = open_payments_research.recipient_state
OR dur_committee_members.first_name = open_payments_research.principal_investigator_1_first_name
AND dur_committee_members.last_name = open_payments_research.principal_investigator_1_last_name
AND dur_committee_members.state_name = open_payments_research.principal_investigator_1_state
OR dur_committee_members.first_name = open_payments_research.principal_investigator_2_first_name
AND dur_committee_members.last_name = open_payments_research.principal_investigator_2_last_name
AND dur_committee_members.state_name = open_payments_research.principal_investigator_2_state
OR dur_committee_members.first_name = open_payments_research.principal_investigator_3_first_name
AND dur_committee_members.last_name = open_payments_research.principal_investigator_3_last_name
AND dur_committee_members.state_name = open_payments_research.principal_investigator_3_state
OR dur_committee_members.first_name = open_payments_research.principal_investigator_4_first_name
AND dur_committee_members.last_name = open_payments_research.principal_investigator_4_last_name
AND dur_committee_members.state_name = open_payments_research.principal_investigator_4_state
OR dur_committee_members.first_name = open_payments_research.principal_investigator_5_first_name
AND dur_committee_members.last_name = open_payments_research.principal_investigator_5_last_name
AND dur_committee_members.state_name = open_payments_research.principal_investigator_5_state""",
                           con=conn)

In [19]:
research_payments["amount"] = pd.to_numeric(research_payments["amount"], errors="raise") # Convert the amount column to float data type
research_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5193 entries, 0 to 5192
Data columns (total 79 columns):
first_name                              5191 non-null object
last_name                               5193 non-null object
middle_initial                          160 non-null object
degree_1                                5113 non-null object
degree_2                                135 non-null object
state                                   5193 non-null object
dur_pt_other                            5193 non-null object
info_date                               5193 non-null object
date_minutes_or_web                     5193 non-null object
industry_rep                            9 non-null object
location                                806 non-null object
specialty                               898 non-null object
committee_alt_name                      690 non-null object
notes                                   1356 non-null object
disclosure_received                     179 non-null object
conflict_disclosed                      67 non-null object
conflict_details                        56 non-null object
change_type                             4228 non-null object
hospital                                160 non-null object
physician_id                            403 non-null object
first                                   403 non-null object
middle                                  398 non-null object
last                                    403 non-null object
city                                    4228 non-null object
state                                   4227 non-null object
specialty                               403 non-null object
manufacturer_id                         4228 non-null object
manufacturer_name                       4228 non-null object
amount                                  4228 non-null float64
payment_date                            4228 non-null object
payment_form                            4228 non-null object
principal_investigator_1_first_name     3826 non-null object
principal_investigator_1_middle_name    2554 non-null object
principal_investigator_1_last_name      3826 non-null object
principal_investigator_1_city           3826 non-null object
principal_investigator_1_state          3826 non-null object
principal_investigator_1_specialty      3826 non-null object
principal_investigator_2_first_name     6 non-null object
principal_investigator_2_middle_name    5 non-null object
principal_investigator_2_last_name      6 non-null object
principal_investigator_2_city           6 non-null object
principal_investigator_2_state          6 non-null object
principal_investigator_2_specialty      6 non-null object
principal_investigator_3_first_name     4 non-null object
principal_investigator_3_middle_name    3 non-null object
principal_investigator_3_last_name      4 non-null object
principal_investigator_3_city           4 non-null object
principal_investigator_3_state          4 non-null object
principal_investigator_3_specialty      4 non-null object
principal_investigator_4_first_name     4 non-null object
principal_investigator_4_middle_name    1 non-null object
principal_investigator_4_last_name      4 non-null object
principal_investigator_4_city           4 non-null object
principal_investigator_4_state          4 non-null object
principal_investigator_4_specialty      4 non-null object
principal_investigator_5_first_name     4 non-null object
principal_investigator_5_middle_name    3 non-null object
principal_investigator_5_last_name      4 non-null object
principal_investigator_5_city           4 non-null object
principal_investigator_5_state          4 non-null object
principal_investigator_5_specialty      3 non-null object
drug_device_1                           2665 non-null object
ndc_1                                   1786 non-null object
drug_device_2                           2665 non-null object
ndc_2                                   1786 non-null object
drug_device_3                           2665 non-null object
ndc_3                                   1786 non-null object
drug_device_4                           2665 non-null object
ndc_4                                   1786 non-null object
drug_device_5                           2665 non-null object
ndc_5                                   1786 non-null object
expenditure_category_1                  671 non-null object
expenditure_category_2                  0 non-null object
expenditure_category_3                  0 non-null object
expenditure_category_4                  0 non-null object
expenditure_category_5                  0 non-null object
expenditure_category_6                  0 non-null object
dispute_status                          4228 non-null object
record_id                               4228 non-null object
dtypes: float64(1), object(78)
memory usage: 3.1+ MB

In [21]:
research_payments.head()

,first_name,last_name,middle_initial,degree_1,degree_2,state,dur_pt_other,info_date,date_minutes_or_web,industry_rep,location,specialty,committee_alt_name,notes,disclosure_received,conflict_disclosed,conflict_details,change_type,hospital,physician_id,first,middle,last,city,state,...,principal_investigator_4_specialty,principal_investigator_5_first_name,principal_investigator_5_middle_name,principal_investigator_5_last_name,principal_investigator_5_city,principal_investigator_5_state,principal_investigator_5_specialty,drug_device_1,ndc_1,drug_device_2,ndc_2,drug_device_3,ndc_3,drug_device_4,ndc_4,drug_device_5,ndc_5,expenditure_category_1,expenditure_category_2,expenditure_category_3,expenditure_category_4,expenditure_category_5,expenditure_category_6,dispute_status,record_id
0,DAVID,ELWELL,None,MD,None,CO,P&T,04/04/17,Minutes,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,JAMES,FEINSTEIN,None,MD,None,CO,P&T,01/05/16,Minutes,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,KERSTIN,FROYD,None,MD,None,CO,DUR,02/16/16,Minutes,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,LEWAYNE,GARRISON,None,RPh,None,CO,DUR,02/16/16,Minutes,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,MICHELLE,HILAIRE,None,PharmD,None,CO,P&T,04/04/17,Minutes,None,None,None,None,None,yes,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

Do we have duplicates in the data?

In [22]:
research_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
4806114      2
306957892    2
307928734    2
307928736    2
307928738    2
307928740    2
307928742    2
307928744    2
307928746    2
307928748    2
307928750    2
307928752    2
307928754    2
307928756    2
307928758    2
307928760    2
307928762    2
307928764    2
307928766    2
307928768    2
307928770    2
307928772    2
307928774    2
307928732    2
307928730    2
307928728    2
307928704    2
306962320    2
306971176    2
306971188    2
417010363    2
306971212    2
306971898    2
306973439    2
307928700    2
307928702    2
307928706    2
307928726    2
307928708    2
307928710    2
307928712    2
307928714    2
307928716    2
307928718    2
307928720    2
307928722    2
307928724    2
307928776    2
307928778    2
307928780    2
322417522    2
31505278     2
31505279     2
318728403    2
318807722    2
318807783    2
318848835    2
318848862    2
318854104    2
318854122    2
322427464    2
31505271     2
322435603    2
322440372    2
322456912    2
322472184    2
322517700    2
322541576    2
322572616    2
322580721    2
322593666    2
31505273     2
31505269     2
307928782    2
307928802    2
307928784    2
307928786    2
307928788    2
307928790    2
307928792    2
307928794    2
307928796    2
307928798    2
307928800    2
31505243     2
31505268     2
31505246     2
31505247     2
31505254     2
31505256     2
31505260     2
31505261     2
31505262     2
31505264     2
31505267     2
306961858    2
297139802    2
322598948    2
297138804    2
208663322    2
208663338    2
208663610    2
208663858    2
208664100    2
211613340    2
211613342    2
211613442    2
211613484    2
211613494    2
211613496    2
211613502    2
211613526    2
211635274    2
211635316    2
211655088    2
211655132    2
211655134    2
211655262    2
211655358    2
211655362    2
208662656    2
208662630    2
208662626    2
208660972    2
208660232    2
208660240    2
208660274    2
208660318    2
208660362    2
208660466    2
208660512    2
208660552    2
208660612    2
208661070    2
208662500    2
208661198    2
208661222    2
208661406    2
208661426    2
208661688    2
208662028    2
208662254    2
208662340    2
208662452    2
211655368    2
211655370    2
211655374    2
263676346    2
263457526    2
263675304    2
263675306    2
263675308    2
263675320    2
263675322    2
263675324    2
263675326    2
263675328    2
263819006    2
254920526    2
263819010    2
278344800    2
278344808    2
292436766    2
292436770    2
29356591     2
294415892    2
294415930    2
294415970    2
254926517    2
25020008     2
211655376    2
21689350     2
211655380    2
211655384    2
211655388    2
211655394    2
212903872    2
212911334    2
21688708     2
21688754     2
21688755     2
21689351     2
24476910     2
21689475     2
21689565     2
21690107     2
21690441     2
21690442     2
21690443     2
24469825     2
24476096     2
24476909     2
322598592    2
322615422    2
208660126    2
340427324    2
340608640    2
340608642    2
340608670    2
340608674    2
340608726    2
340608760    2
340608762    2
340608764    2
340608766    2
340608768    2
340608770    2
340608772    2
340608808    2
344595134    2
344595136    2
344595150    2
344595152    2
344595154    2
344595156    2
344595158    2
344595160    2
340608638    2
340608636    2
340608634    2
340608604    2
340427334    2
340427338    2
340608588    2
340608592    2
340608594    2
340608596    2
340608598    2
340608600    2
340608602    2
340608606    2
340608632    2
340608608    2
340608610    2
340608614    2
340608618    2
340608620    2
340608622    2
340608624    2
340608628    2
340608630    2
344595162    2
344595164    2
344829842    2
386761024    2
386074758    2
386118714    2
386118722    2
386118734    2
386118746    2
            ..
295970682    1
401343714    1
401343710    1
299327252    1
299327260    1
302233428    1
302235554    1
306956457    1
401343706    1
306958850    1
306960866    1
401342742    1
306962078    1
401342738    1
306964838    1
306968604    1
306970618    1
306970627    1
401350426    1
280968186    1
401342726    1
280967370    1
280933622    1
280933870    1
280933958    1
280934768    1
280941494    1
280941498    1
280942552    1
280943662    1
280943666    1
280946074    1
280946370    1
280946463    1
280946868    1
280947158    1
280951042    1
280952258    1
280952818    1
280953432    1
280954036    1
280959190    1
280959870    1
280959874    1
280960048    1
280960054    1
280960057    1
280964376    1
280964540    1
280965132    1
280967252    1
401342730    1
401342722    1
280932838    1
401332298    1
401315940    1
396423728    1
396208786    1
395716348    1
395427046    1
395304840    1
395236338    1
395236296    1
395145607    1
395068034    1
395067956    1
395062904    1
394064942    1
394064912    1
394064886    1
394064858    1
394063916    1
394054902    1
394054874    1
394016958    1
393974872    1
393938928    1
393938894    1
393891778    1
393880994    1
393880961    1
393861072    1
393854892    1
393854858    1
401328400    1
401335968    1
401342718    1
401336158    1
401342712    1
306972676    1
306972688    1
306973076    1
306973086    1
401342708    1
306973716    1
306974206    1
306974396    1
306974462    1
307912954    1
307912956    1
307912958    1
307912960    1
307912962    1
307912964    1
307912966    1
307912968    1
307912970    1
307912972    1
307912974    1
307912976    1
307912978    1
307912980    1
307912982    1
307912984    1
307912986    1
307912988    1
307912990    1
280933532    1
280931568    1
280859162    1
280867406    1
280867858    1
280868128    1
280868772    1
280868954    1
280868956    1
280869034    1
280869216    1
280869608    1
280869772    1
280870012    1
280870156    1
280870272    1
280870702    1
280870734    1
280870776    1
280870894    1
280871118    1
280872044    1
280872214    1
280872552    1
280872696    1
280872816    1
280873014    1
280873636    1
280873846    1
280874230    1
280874286    1
280874304    1
280874342    1
280867574    1
280866734    1
280875134    1
280866342    1
280859572    1
280859600    1
280859672    1
280860164    1
280860246    1
280861600    1
280861622    1
280861814    1
280861852    1
280862426    1
280862548    1
280862730    1
280863052    1
280863348    1
280863454    1
280863534    1
280863850    1
280863878    1
280864442    1
280864668    1
280864710    1
280865306    1
280865460    1
280865730    1
280865902    1
280865912    1
280865948    1
280866162    1
280866186    1
280874860    1
280875494    1
280929680    1
280890650    1
280891508    1
280892200    1
280892240    1
280892346    1
280892766    1
280893302    1
280894382    1
280895512    1
280896728    1
280897392    1
280898454    1
280900704    1
280900710    1
280903220    1
280905522    1
280912156    1
280912160    1
280912162    1
280912166    1
280913956    1
280921648    1
280921800    1
280922862    1
280924664    1
280925128    1
280925188    1
280926430    1
280927942    1
280928406    1
280891080    1
280890420    1
280875656    1
280890120    1
280875712    1
280876222    1
280876952    1
280877032    1
280877226    1
280877242    1
280878990    1
280879679    1
280879737    1
280880178    1
280880656    1
280881280    1
280881794    1
280882644    1
280883122    1
280883290    1
280883704    1
280883932    1
280884202    1
280884306    1
280884570    1
280885050    1
280886822    1
280887244    1
280887506    1
280887656    1
280887770    1
280889588    1
280889972    1
105734308    1
Name: record_id, Length: 3039, dtype: int64

We do. Let's drop them.

In [23]:
research_payments.drop_duplicates("record_id", inplace=True)
research_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
4806114      1
211613342    1
211635274    1
211633546    1
211633530    1
211613526    1
211613502    1
211613496    1
211613494    1
211613484    1
211613442    1
211613340    1
211640124    1
211601176    1
211601108    1
211601104    1
211601100    1
211601094    1
211601092    1
211601070    1
211601066    1
211601064    1
211635316    1
211640132    1
211655088    1
211640304    1
211640362    1
211640360    1
211640350    1
211640348    1
211640344    1
211640336    1
211640330    1
211640320    1
211640318    1
211640288    1
211640136    1
211640284    1
211640272    1
211640246    1
211640202    1
211640178    1
211640172    1
211640152    1
211640148    1
211640140    1
211601060    1
211601057    1
211601054    1
208673472    1
208678374    1
208678370    1
208678366    1
208678362    1
208678360    1
208678356    1
208678352    1
208675020    1
208673644    1
208672902    1
211601052    1
208668830    1
208664100    1
208663858    1
208663610    1
208663338    1
208663322    1
208662656    1
208662630    1
208662626    1
208678377    1
208678380    1
208678384    1
208678386    1
211601028    1
211600944    1
211600938    1
211600926    1
211600902    1
211600880    1
211600872    1
211600870    1
211600862    1
211600859    1
211600842    1
211600834    1
211600832    1
208678402    1
208678400    1
208678396    1
208678394    1
208678392    1
208678388    1
211640368    1
211655132    1
208662452    1
219036192    1
223858302    1
219329492    1
219329448    1
219329442    1
219329036    1
219329030    1
219036216    1
219036210    1
219036202    1
219036184    1
223858330    1
21690443     1
21690442     1
21690441     1
21690107     1
21689565     1
21689475     1
21689351     1
21689350     1
21688755     1
223858314    1
223858354    1
211655134    1
250968428    1
254929428    1
254928636    1
254926517    1
254924164    1
254923274    1
254923268    1
254920544    1
254920526    1
254918236    1
25020008     1
23931122     1
247063720    1
247063718    1
247063716    1
247059280    1
24476910     1
24476909     1
24476096     1
24469825     1
24457374     1
21688754     1
21688708     1
216065142    1
211655394    1
212903872    1
212903810    1
212900466    1
212109266    1
212109264    1
212109262    1
212109260    1
212109258    1
212109256    1
211655388    1
213710590    1
211655384    1
211655380    1
211655376    1
211655374    1
211655370    1
211655368    1
211655362    1
211655358    1
211655262    1
212904132    1
212911334    1
212911940    1
212911964    1
213710528    1
213710522    1
212938392    1
212936958    1
212936660    1
212936164    1
212935554    1
212934048    1
212932808    1
212930824    1
212927280    1
212926228    1
212923228    1
212922442    1
212921848    1
212920180    1
212918992    1
212917194    1
212912768    1
208662500    1
208662340    1
254971638    1
208041420    1
208051456    1
208050886    1
208048668    1
208047542    1
208046714    1
208045230    1
208043762    1
208042666    1
208042322    1
208040550    1
208052064    1
208040070    1
208039268    1
208037312    1
208035710    1
208034704    1
208026162    1
208024340    1
208024220    1
208023594    1
208052060    1
208052180    1
208655734    1
208655220    1
208655722    1
208655584    1
208655548    1
208655502    1
208655482    1
208655456    1
208655434    1
208655420    1
208655400    1
208655194    1
208052608    1
208655180    1
208655172    1
208655144    1
208655110    1
208651600    1
208056342    1
208054876    1
208053180    1
208052616    1
208018502    1
208018484    1
208018464    1
207797260    1
207872732    1
207872554    1
207857519    1
207855170    1
207852946    1
207831688    1
207829672    1
207812444    1
207800164    1
207790842    1
            ..
386814668    1
386811490    1
386778536    1
386805418    1
386802950    1
386802142    1
386801518    1
386797808    1
386790644    1
386787908    1
386784980    1
386780314    1
386074758    1
372544870    1
372544564    1
362298676    1
362305758    1
362305756    1
362305754    1
362305752    1
362305750    1
362305748    1
362298682    1
362298680    1
362298678    1
362298674    1
372544560    1
362298672    1
362297454    1
362297452    1
362297450    1
362297448    1
362290702    1
362290700    1
362290698    1
362290696    1
362305760    1
362326252    1
362326254    1
362326256    1
372539580    1
372539576    1
372539572    1
372528736    1
372528728    1
372528710    1
372524999    1
372524974    1
372521798    1
372521794    1
372520344    1
372520340    1
372519478    1
372459164    1
372459160    1
372365488    1
372365468    1
369073491    1
362326258    1
340595598    1
340595594    1
332095001    1
336400010    1
336400028    1
336400026    1
336400024    1
336400022    1
336400020    1
336400018    1
336400016    1
336400014    1
336400012    1
336400008    1
336400032    1
336400006    1
336400004    1
336400002    1
336400000    1
336399998    1
336399996    1
336399994    1
336399992    1
336399990    1
336400030    1
336400034    1
336400080    1
336400058    1
336400076    1
336400074    1
336400072    1
336400070    1
336400068    1
336400066    1
336400064    1
336400062    1
336400060    1
336400056    1
336400036    1
336400054    1
336400052    1
336400050    1
336400048    1
336400046    1
336400044    1
336400042    1
336400040    1
336400038    1
336399988    1
336399986    1
336399984    1
336399916    1
336399934    1
336399932    1
336399930    1
336399928    1
336399926    1
336399924    1
336399922    1
336399920    1
336399918    1
336399914    1
336399982    1
336399912    1
336399910    1
336399908    1
336399906    1
336399904    1
336399902    1
335015636    1
332112677    1
332109559    1
336399936    1
336399938    1
336399940    1
336399942    1
336399980    1
336399978    1
336399976    1
336399974    1
336399972    1
336399970    1
336399968    1
336399966    1
336399964    1
336399962    1
336399960    1
336399958    1
336399956    1
336399954    1
336399952    1
336399950    1
336399948    1
336399946    1
336399944    1
336400078    1
336400082    1
340595592    1
336441830    1
336441848    1
336441846    1
336441844    1
336441842    1
336441840    1
336441838    1
336441836    1
336441834    1
336441832    1
336441828    1
336441852    1
336441826    1
336441824    1
336441822    1
336441820    1
336441818    1
336441816    1
336441814    1
336441812    1
336441810    1
336441850    1
336441854    1
336400084    1
338766782    1
340595590    1
340595588    1
340595586    1
340595452    1
340427338    1
340427334    1
340427330    1
340427324    1
340051870    1
338564322    1
336441856    1
336603160    1
336441872    1
336441870    1
336441868    1
336441866    1
336441864    1
336441862    1
336441860    1
336441858    1
336441808    1
336441806    1
336441804    1
336400106    1
336400124    1
336400122    1
336400120    1
336400118    1
336400116    1
336400114    1
336400112    1
336400110    1
336400108    1
336400104    1
336441802    1
336400102    1
336400100    1
336400098    1
336400096    1
336400094    1
336400092    1
336400090    1
336400088    1
336400086    1
336400126    1
336400128    1
336400130    1
336400132    1
336441800    1
336441798    1
336441796    1
336400164    1
336400162    1
336400160    1
336400158    1
336400156    1
336400154    1
336400152    1
336400150    1
336400148    1
336400146    1
336400144    1
336400142    1
336400140    1
336400138    1
336400136    1
336400134    1
105734308    1
Name: record_id, Length: 3039, dtype: int64

What is the total value of research payments to doctors serving on Medicaid drug utilization boards?

In [25]:
research_payments["amount"].sum()

11010560.920000006

Export the dataframes to Excel file for further analysis.

In [26]:
writer = pd.ExcelWriter("data/doc_payments.xlsx")
general_payments.to_excel(writer, "general_payments", index=False)
ownership_payments.to_excel(writer, "ownership_payments", index=False)
research_payments.to_excel(writer, "research_payments", index=False)
writer.save()