In [1]:
import json
import numpy as np
import pandas as pd
import psycopg2
pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 500)
pd.set_option("display.float_format", lambda x: "%.2f" % x) # Suppress scientific notation for float data type

## How many doctors on Medicaid drug utilization boards have received payments from drug manufacturers?

We will use Open Payments data to determine the extent of payments from 2013 through 2016 from drug manufacturers to doctors serving on Medicaid drug utilization boards between the start of 2016 and March of 2018.

First, connect to the database.

In [2]:
with open("config.json") as f:
    conf = json.load(f)

In [3]:
conn_str = "host={} dbname={} user={} password={}".format(conf["host"], conf["database"], conf["user"], conf["password"])

In [4]:
conn = psycopg2.connect(conn_str)
conn.autocommit = True # Allow the notebook to commit transactions (like updating a column) to the connected database.

Query the database to return the doctors who received any general purpose payments from drug manufacturers.

In [6]:
general_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_general.change_type AS change_type,
       open_payments_general.physician_profile_id AS physician_id,
       open_payments_general.physician_first_name AS first,
       open_payments_general.physician_middle_name AS middle,
       open_payments_general.physician_last_name AS last,
       open_payments_general.recipient_city AS city,
       open_payments_general.recipient_state AS state,
       open_payments_general.physician_specialty AS specialty,
       open_payments_general.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_general.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_general.total_amount_of_payment_usdollars AS amount,
       open_payments_general.date_of_payment AS payment_date,
       open_payments_general.form_of_payment_or_transfer_of_value AS payment_form,
       open_payments_general.nature_of_payment_or_transfer_of_value AS nature_of_payment,
       open_payments_general.record_id AS record_id,
       open_payments_general.dispute_status_for_publication AS dispute_status,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_1,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_1,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_2,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_2,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_3,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_3,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_4,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_4,
       open_payments_general.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_5,
       open_payments_general.associated_drug_or_biological_ndc_1 AS ndc_5
FROM dur_committee_members
INNER JOIN open_payments_general ON UPPER(dur_committee_members.first_name) = UPPER(open_payments_general.physician_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_general.physician_last_name)
AND UPPER(dur_committee_members.state) = UPPER(open_payments_general.recipient_state)""",
                           con=conn)

In [7]:
general_payments["amount"] = pd.to_numeric(general_payments["amount"], errors="raise") # Convert the amount column to float data type
general_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20323 entries, 0 to 20322
Data columns (total 43 columns):
first_name             20323 non-null object
last_name              20323 non-null object
middle_initial         2892 non-null object
degree_1               19025 non-null object
degree_2               1810 non-null object
state                  20323 non-null object
dur_pt_other           20323 non-null object
info_date              20323 non-null object
date_minutes_or_web    20323 non-null object
industry_rep           13 non-null object
location               6146 non-null object
specialty              1815 non-null object
committee_alt_name     4851 non-null object
notes                  7103 non-null object
disclosure_received    4175 non-null object
conflict_disclosed     2221 non-null object
conflict_details       1678 non-null object
change_type            20323 non-null object
physician_id           20323 non-null object
first                  20323 non-null object
middle                 12150 non-null object
last                   20323 non-null object
city                   20323 non-null object
state                  20323 non-null object
specialty              20154 non-null object
manufacturer_id        20323 non-null object
manufacturer_name      20323 non-null object
amount                 20323 non-null float64
payment_date           20323 non-null object
payment_form           20323 non-null object
nature_of_payment      20323 non-null object
record_id              20323 non-null object
dispute_status         20323 non-null object
drug_device_1          17395 non-null object
ndc_1                  15566 non-null object
drug_device_2          17395 non-null object
ndc_2                  15566 non-null object
drug_device_3          17395 non-null object
ndc_3                  15566 non-null object
drug_device_4          17395 non-null object
ndc_4                  15566 non-null object
drug_device_5          17395 non-null object
ndc_5                  15566 non-null object
dtypes: float64(1), object(42)
memory usage: 6.7+ MB

Do we have duplicates in the data?

In [8]:
general_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
152466203    2
380096188    2
391060074    2
380096208    2
340912492    2
340912490    2
216452814    2
216452820    2
216452826    2
216452830    2
216452834    2
391274420    2
391274442    2
391274468    2
391274490    2
391274512    2
391274534    2
395501984    2
391274556    2
391274580    2
391274606    2
391274626    2
391274651    2
104616676    2
166669518    2
380096196    2
309879230    2
156466714    2
309879226    2
156466710    2
137834354    2
137827356    2
156358632    2
156358630    2
379924742    2
369928800    2
187780858    2
395915292    2
362593542    2
201767802    2
362613306    2
362624166    2
362625480    2
362630068    2
362631152    2
308852652    2
362634994    2
395749944    2
395749874    2
187906294    2
149553884    2
380096180    2
166669512    2
166669506    2
391406890    2
166669498    2
150145894    2
137686916    2
137685728    2
137685726    2
137684458    2
137683842    2
330599479    2
137683840    2
137682976    2
365949744    2
137674344    2
137674342    2
137674340    2
137674338    2
137674336    2
137674334    2
137629504    2
418717895    2
137612286    2
202279132    2
281944736    2
339663784    2
339663782    2
292506442    2
292506444    2
137688216    2
166669437    2
166669492    2
391515926    2
166669486    2
166669478    2
166669472    2
267979234    2
166669464    2
166669456    2
166669450    2
166669445    2
104790966    2
137688218    2
267926086    2
24053482     2
293514492    2
293514490    2
137689458    2
137689144    2
137689130    2
137689128    2
137688468    2
137688466    2
156466712    2
206854068    2
339461010    2
208191932    2
214246978    2
214246982    2
214246984    2
300126516    2
300126532    2
398223752    2
398223732    2
398223707    2
300126543    2
102393188    2
414665369    2
256381878    2
300385532    2
397415484    2
300737950    2
319559024    2
251154916    2
335610337    2
207246996    2
103835238    2
378655542    2
378655562    2
378655582    2
171864926    2
377998036    2
246095418    2
377998022    2
160591626    2
255846404    2
147043438    2
320384876    2
320384882    2
158285722    2
158285718    2
158285712    2
158285708    2
158285702    2
158285698    2
158285694    2
158285690    2
158285684    2
158285681    2
158285671    2
255343784    2
199211660    2
333553876    2
103165602    2
357391298    2
377997974    2
377997994    2
378655604    2
378655626    2
196701430    2
168722758    2
294771614    2
306997378    2
306997566    2
415257405    2
415257419    2
415257487    2
415257491    2
415257841    2
415257851    2
415257903    2
415258171    2
415258381    2
137930088    2
415262155    2
101639938    2
137926994    2
306998582    2
306998589    2
306998600    2
306998608    2
306999090    2
306999859    2
246095420    2
306997286    2
306997273    2
306997138    2
206924018    2
101929606    2
101929604    2
101929602    2
101929600    2
168651288    2
275429974    2
396720166    2
396679774    2
184698852    2
294940972    2
319136444    2
306996642    2
30564598     2
319136428    2
319136228    2
319136216    2
319136184    2
306991722    2
186889990    2
306994051    2
414880983    2
294833024    2
337396746    2
362635913    2
4789716      2
205248842    2
283313108    2
325991674    2
316509998    2
316509996    2
316509994    2
4795732      2
316509990    2
316509988    2
316509986    2
316509984    2
316509982    2
393031808    2
406191608    2
217901490    2
217901292    2
136467372    2
189168362    2
267623432    2
153076879    2
153076872    2
153076865    2
153076856    2
266781966    2
393681994    2
393681958    2
325938538    2
288595606    2
393681866    2
189546544    2
4795748      2
4795749      2
4795990      2
4795991      2
4795613      2
            ..
334938986    1
334936682    1
334891148    1
334892518    1
334892520    1
334892528    1
334893206    1
334893212    1
334893230    1
334893236    1
334893246    1
334909110    1
334919078    1
334930414    1
334930426    1
334931054    1
334936476    1
333536534    1
333536532    1
333536530    1
333505304    1
333505290    1
333505292    1
333505294    1
333505296    1
333505298    1
333505300    1
333505302    1
333505306    1
333536528    1
333505308    1
333505310    1
333505312    1
333505314    1
333505316    1
333505318    1
333505320    1
333501576    1
333501574    1
333501572    1
333501570    1
333500826    1
333500828    1
333500830    1
333500832    1
333500834    1
333500836    1
333500838    1
333500840    1
333501556    1
333501558    1
333501560    1
333501562    1
333501564    1
333501566    1
333501568    1
333505322    1
333506878    1
333506880    1
333536494    1
333536498    1
333536500    1
333536502    1
333536504    1
333536506    1
333536508    1
333536510    1
333536512    1
333536514    1
333536516    1
333536518    1
333536520    1
333536522    1
333536524    1
333536526    1
333536496    1
333536492    1
333519758    1
333536490    1
333519760    1
333526112    1
333526114    1
333532082    1
333532084    1
333532086    1
333532088    1
333532090    1
333532092    1
333532094    1
333532096    1
333536482    1
333536484    1
333536486    1
333536488    1
335017714    1
335041636    1
337115050    1
336947966    1
336943446    1
336943886    1
336943890    1
336945868    1
336945878    1
336945882    1
336947956    1
336947974    1
336987576    1
336950820    1
336953908    1
336957838    1
336966262    1
336969508    1
336983736    1
336984300    1
336937330    1
336937328    1
336937322    1
336937096    1
336868746    1
336874082    1
336876172    1
336876200    1
336876202    1
336881606    1
336894312    1
336903020    1
336909434    1
336912666    1
336913380    1
336914914    1
336921886    1
336921904    1
336934632    1
336986934    1
337002044    1
335059048    1
337100668    1
337070338    1
337074814    1
337081348    1
337094482    1
337094756    1
337097070    1
337097470    1
337103512    1
337002084    1
337104988    1
337105098    1
337105982    1
337107810    1
337108514    1
337109108    1
337114556    1
337066546    1
337065454    1
337063902    1
337059678    1
337003104    1
337005828    1
337008300    1
337011382    1
337011482    1
337015698    1
337020536    1
337024010    1
337036734    1
337041506    1
337043132    1
337043278    1
337048088    1
337049574    1
337055776    1
336867984    1
336866810    1
336866314    1
335874782    1
335437220    1
335437234    1
335437240    1
335612596    1
335786426    1
335820912    1
335836996    1
335874784    1
336865102    1
335874786    1
335874788    1
335874790    1
335879264    1
335880842    1
335884788    1
335884790    1
335414622    1
335414006    1
335413860    1
335240896    1
335060778    1
335086952    1
335087731    1
335097976    1
335109928    1
335110954    1
335139730    1
335140026    1
335141040    1
335141542    1
335144186    1
335152926    1
335154112    1
335160832    1
335160834    1
335884820    1
335884822    1
335884824    1
336584238    1
336801318    1
336801320    1
336801322    1
336801324    1
336801326    1
336813130    1
336829022    1
336830128    1
336834434    1
336841606    1
336846418    1
336848470    1
336849978    1
336861180    1
336864664    1
336620026    1
336584236    1
335884826    1
336579570    1
335884828    1
335884830    1
335884832    1
335884834    1
335884836    1
335884838    1
335884840    1
335884842    1
335884844    1
335884846    1
335884966    1
335884968    1
335924472    1
336407621    1
336425190    1
100003566    1
Name: record_id, Length: 20029, dtype: int64

We do. Let's drop them.

In [9]:
general_payments.drop_duplicates("record_id", inplace=True)
general_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
9891599      1
207363190    1
207344180    1
207344728    1
207348488    1
207350178    1
207353240    1
207356232    1
207362752    1
207365098    1
207332926    1
207366898    1
207371980    1
207792532    1
207792538    1
207792542    1
207792546    1
207792548    1
207342926    1
207331720    1
206883076    1
207294556    1
207266400    1
207267764    1
207269564    1
207280234    1
207280424    1
207286232    1
207286552    1
207294690    1
207330652    1
207295384    1
207302986    1
207309264    1
207318844    1
207319746    1
207322526    1
207328590    1
207792552    1
207792556    1
207792560    1
208183058    1
208153788    1
208153976    1
208153978    1
208167538    1
208167540    1
208176238    1
208179934    1
208189204    1
207792562    1
208191932    1
208192024    1
208195510    1
208201196    1
208208560    1
208209506    1
208209986    1
208150812    1
208149920    1
208149918    1
208149916    1
207792566    1
207918980    1
207918982    1
207960846    1
207972480    1
207972484    1
207997878    1
207997882    1
207997884    1
208138412    1
208138414    1
208138416    1
208144906    1
208149912    1
208149914    1
207265176    1
207255954    1
207252822    1
207032340    1
206995568    1
207015162    1
207024268    1
207025004    1
207025008    1
207025372    1
207028416    1
207032344    1
207074690    1
207032346    1
207036776    1
207043288    1
207049596    1
207062390    1
207064982    1
207072354    1
206992030    1
206966090    1
206966088    1
206966084    1
206885622    1
206887272    1
206897528    1
206897978    1
206898984    1
206904430    1
206905750    1
206906540    1
206911376    1
206924018    1
206927950    1
206938946    1
206949245    1
206953598    1
206962048    1
207074246    1
207078672    1
207246996    1
207216906    1
207196134    1
207206630    1
207208696    1
207208900    1
207212180    1
207215600    1
207216074    1
207217124    1
207079234    1
207217750    1
207219960    1
207225788    1
207227220    1
207230590    1
207235794    1
207236626    1
207190454    1
207190172    1
207182858    1
207179316    1
207081504    1
207082246    1
207086330    1
207098378    1
207101058    1
207107054    1
207107378    1
207109956    1
207111752    1
207128042    1
207145530    1
207161566    1
207163804    1
207179306    1
207179310    1
208211756    1
208212522    1
208221682    1
210964786    1
210936646    1
210936648    1
210949402    1
210949404    1
210949560    1
210949562    1
210960030    1
210965810    1
211053876    1
210969888    1
210976152    1
210976158    1
210976772    1
210976776    1
211037944    1
211046594    1
210936430    1
210929484    1
210929482    1
210913524    1
210145560    1
210222250    1
210234800    1
210237160    1
210237228    1
210473992    1
210474466    1
210475456    1
210493142    1
210862870    1
210899470    1
210899478    1
210904152    1
210904154    1
210904376    1
211051598    1
211058866    1
210145556    1
211912148    1
211739016    1
211752042    1
211805576    1
211818102    1
211818104    1
211912072    1
211912146    1
211948060    1
211066447    1
211951388    1
211963646    1
211963648    1
211971836    1
211972842    1
211976054    1
211981018    1
211359550    1
211350686    1
211350684    1
211350682    1
211071078    1
211082212    1
211084190    1
211084854    1
211084904    1
211092044    1
211104408    1
211107918    1
211125276    1
211129990    1
211130006    1
211140108    1
211350676    1
211350678    1
211350680    1
210145558    1
210145554    1
208223544    1
208347208    1
208338868    1
208344572    1
208344576    1
208344578    1
208344580    1
208344582    1
208344586    1
208351534    1
208377778    1
208351536    1
208351538    1
208351540    1
208351542    1
            ..
335097976    1
335109928    1
335110954    1
335139730    1
335140026    1
335141040    1
335141542    1
335144186    1
335152926    1
335154112    1
335160832    1
335160834    1
335240896    1
335413860    1
335414006    1
334892520    1
334891148    1
335884826    1
333536518    1
333536504    1
333536506    1
333536508    1
333536510    1
333536512    1
333536514    1
333536516    1
333536520    1
333536538    1
333536522    1
333536524    1
333536526    1
333536528    1
333536530    1
333536532    1
333536534    1
333536502    1
333536500    1
333536498    1
333536496    1
333532082    1
333532084    1
333532086    1
333532088    1
333532090    1
333532092    1
333532094    1
333532096    1
333536482    1
333536484    1
333536486    1
333536488    1
333536490    1
333536492    1
333536494    1
333536536    1
333536540    1
334891142    1
334391750    1
333582084    1
333582086    1
333595344    1
334181354    1
334363898    1
334380956    1
334390768    1
334391756    1
333546772    1
334493418    1
334616582    1
334617638    1
334625328    1
334889426    1
334889538    1
334891131    1
333582082    1
333582080    1
333582078    1
333582076    1
333553876    1
333557860    1
333557862    1
333557864    1
333557866    1
333557868    1
333557870    1
333557872    1
333564088    1
333564090    1
333578226    1
333578228    1
333578230    1
333578232    1
333582074    1
335884824    1
335884828    1
337319800    1
337105098    1
337094482    1
337094756    1
337097070    1
337097470    1
337100668    1
337103512    1
337104988    1
337105982    1
337151078    1
337107810    1
337108514    1
337109108    1
337114556    1
337115050    1
337124644    1
337143176    1
337081348    1
337074814    1
337070338    1
337066546    1
337011382    1
337011482    1
337015698    1
337020536    1
337024010    1
337036734    1
337041506    1
337043132    1
337043278    1
337048088    1
337049574    1
337055776    1
337059678    1
337063902    1
337065454    1
337145600    1
337155318    1
337005828    1
337266661    1
337222562    1
337226756    1
337230696    1
337239750    1
337245132    1
337250084    1
337261668    1
337274310    1
337163208    1
337284320    1
337291432    1
337296986    1
337301010    1
337309622    1
337312624    1
337317126    1
337217384    1
337202056    1
337197412    1
337193347    1
337167526    1
337172308    1
337178026    1
337178028    1
337178030    1
337178032    1
337178034    1
337178038    1
337178040    1
337178042    1
337178044    1
337178046    1
337187890    1
337188176    1
337192266    1
337008300    1
337003104    1
335884830    1
336841606    1
336801322    1
336801324    1
336801326    1
336813130    1
336829022    1
336830128    1
336834434    1
336846418    1
336868746    1
336848470    1
336849978    1
336861180    1
336864664    1
336865102    1
336866314    1
336866810    1
336801320    1
336801318    1
336620026    1
336584238    1
335884832    1
335884834    1
335884836    1
335884838    1
335884840    1
335884842    1
335884844    1
335884846    1
335884966    1
335884968    1
335924472    1
336407621    1
336425190    1
336579570    1
336584236    1
336867984    1
336874082    1
337002084    1
336953908    1
336945868    1
336945878    1
336945882    1
336947956    1
336947966    1
336947974    1
336950820    1
336957838    1
336876172    1
336966262    1
336969508    1
336983736    1
336984300    1
336986934    1
336987576    1
337002044    1
336943890    1
336943886    1
336943446    1
336937330    1
336876200    1
336876202    1
336881606    1
336894312    1
336903020    1
336909434    1
336912666    1
336913380    1
336914914    1
336921886    1
336921904    1
336934632    1
336937096    1
336937322    1
336937328    1
100003566    1
Name: record_id, Length: 20029, dtype: int64

What is the total value of general purpose payments to doctors serving on Medicaid drug utilization boards?

In [10]:
general_payments["amount"].sum()

2501139.0400000126

Query the database to return the doctors who held an ownership or investment interest in any drug manufacturers.

In [11]:
ownership_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_ownership.change_type AS change_type,
       open_payments_ownership.physician_profile_id AS physician_id,
       open_payments_ownership.physician_first_name AS first,
       open_payments_ownership.physician_middle_name AS middle,
       open_payments_ownership.physician_last_name AS last,
       open_payments_ownership.recipient_city AS city,
       open_payments_ownership.recipient_state AS state,
       open_payments_ownership.physician_specialty AS specialty,
       open_payments_ownership.total_amount_invested_usdollars AS total_amount_invested,
       open_payments_ownership.value_of_interest AS value_of_interest,
       open_payments_ownership.terms_of_interest AS terms_of_interest,
       open_payments_ownership.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_ownership.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_ownership.interest_held_by_physician_or_an_immediate_family_member AS nature_of_interest,
       open_payments_ownership.record_id AS record_id,
       open_payments_ownership.dispute_status_for_publication AS dispute_status
FROM dur_committee_members
INNER JOIN open_payments_ownership ON UPPER(dur_committee_members.first_name) = UPPER(open_payments_ownership.physician_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_ownership.physician_last_name)
AND UPPER(dur_committee_members.state) = UPPER(open_payments_ownership.recipient_state)""",
                           con=conn)

In [12]:
# Convert the investment amount columns to float data type
ownership_payments["total_amount_invested"] = pd.to_numeric(ownership_payments["total_amount_invested"], errors="raise")
ownership_payments["value_of_interest"] = pd.to_numeric(ownership_payments["value_of_interest"], errors="raise")
ownership_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 33 columns):
first_name               2 non-null object
last_name                2 non-null object
middle_initial           0 non-null object
degree_1                 2 non-null object
degree_2                 0 non-null object
state                    2 non-null object
dur_pt_other             2 non-null object
info_date                2 non-null object
date_minutes_or_web      2 non-null object
industry_rep             0 non-null object
location                 0 non-null object
specialty                1 non-null object
committee_alt_name       0 non-null object
notes                    1 non-null object
disclosure_received      0 non-null object
conflict_disclosed       0 non-null object
conflict_details         0 non-null object
change_type              2 non-null object
physician_id             2 non-null object
first                    2 non-null object
middle                   1 non-null object
last                     2 non-null object
city                     2 non-null object
state                    2 non-null object
specialty                2 non-null object
total_amount_invested    2 non-null float64
value_of_interest        2 non-null float64
terms_of_interest        2 non-null object
manufacturer_id          2 non-null object
manufacturer_name        2 non-null object
nature_of_interest       2 non-null object
record_id                2 non-null object
dispute_status           2 non-null object
dtypes: float64(2), object(31)
memory usage: 608.0+ bytes

Do we have duplicates in the data?

In [13]:
ownership_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
413359278    1
152335554    1
Name: record_id, dtype: int64

In [14]:
ownership_payments

,first_name,last_name,middle_initial,degree_1,degree_2,state,dur_pt_other,info_date,date_minutes_or_web,industry_rep,location,specialty,committee_alt_name,notes,disclosure_received,conflict_disclosed,conflict_details,change_type,physician_id,first,middle,last,city,state,specialty,total_amount_invested,value_of_interest,terms_of_interest,manufacturer_id,manufacturer_name,nature_of_interest,record_id,dispute_status
0,Andreas,Wali,None,MD,None,PA,P&T,03/01/18,Web,None,None,cardiologist,None,effective Oct 11 2017,None,None,None,UNCHANGED,29544,Andreas,U,Wali,Camp Hill,PA,Allopathic & Osteopathic Physicians|Internal M...,19086.85,10607.38,Stock ownership,100000000133,TriReme Medical LLC,Physician Covered Recipient,413359278,No
1,Sharon,Weinstein,None,MD,None,UT,DUR,12/08/16,Minutes,None,None,None,None,None,None,None,None,UNCHANGED,173760,Sharon,None,Weinstein,Salt Lake City,UT,Allopathic & Osteopathic Physicians|Psychiatry...,0.00,0.00,None,100000005587,"DARA Biosciences, Inc.",Physician Covered Recipient,152335554,No

What is the total value of the ownership or investment interest of doctors serving on Medicaid drug utilization boards?

In [15]:
ownership_payments["total_amount_invested"].sum()

19086.85

Query the database to return the doctors who received any research payments from drug manufacturers.

In [16]:
research_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_research.change_type AS change_type,
       open_payments_research.teaching_hospital_name AS hospital,
       open_payments_research.physician_profile_id AS physician_id,
       open_payments_research.physician_first_name AS first,
       open_payments_research.physician_middle_name AS middle,
       open_payments_research.physician_last_name AS last,
       open_payments_research.recipient_city AS city,
       open_payments_research.recipient_state AS state,
       open_payments_research.physician_specialty AS specialty,
       open_payments_research.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_research.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_research.total_amount_of_payment_usdollars AS amount,
       open_payments_research.date_of_payment AS payment_date,
       open_payments_research.form_of_payment_or_transfer_of_value AS payment_form,
       open_payments_research.principal_investigator_1_first_name,
       open_payments_research.principal_investigator_1_middle_name,
       open_payments_research.principal_investigator_1_last_name,
       open_payments_research.principal_investigator_1_city,
       open_payments_research.principal_investigator_1_state,
       open_payments_research.principal_investigator_1_specialty,
       open_payments_research.principal_investigator_2_first_name,
       open_payments_research.principal_investigator_2_middle_name,
       open_payments_research.principal_investigator_2_last_name,
       open_payments_research.principal_investigator_2_city,
       open_payments_research.principal_investigator_2_state,
       open_payments_research.principal_investigator_2_specialty,
       open_payments_research.principal_investigator_3_first_name,
       open_payments_research.principal_investigator_3_middle_name,
       open_payments_research.principal_investigator_3_last_name,
       open_payments_research.principal_investigator_3_city,
       open_payments_research.principal_investigator_3_state,
       open_payments_research.principal_investigator_3_specialty,
       open_payments_research.principal_investigator_4_first_name,
       open_payments_research.principal_investigator_4_middle_name,
       open_payments_research.principal_investigator_4_last_name,
       open_payments_research.principal_investigator_4_city,
       open_payments_research.principal_investigator_4_state,
       open_payments_research.principal_investigator_4_specialty,
       open_payments_research.principal_investigator_5_first_name,
       open_payments_research.principal_investigator_5_middle_name,
       open_payments_research.principal_investigator_5_last_name,
       open_payments_research.principal_investigator_5_city,
       open_payments_research.principal_investigator_5_state,
       open_payments_research.principal_investigator_5_specialty,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_1,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_1,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_2,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_2,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_3,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_3,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_4,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_4,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_5,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_5
       open_payments_research.expenditure_category1 AS expenditure_category_1,
       open_payments_research.expenditure_category2 AS expenditure_category_2,
       open_payments_research.expenditure_category3 AS expenditure_category_3,
       open_payments_research.expenditure_category4 AS expenditure_category_4,
       open_payments_research.expenditure_category5 AS expenditure_category_5,
       open_payments_research.expenditure_category6 AS expenditure_category_6,
       open_payments_research.dispute_status_for_publication AS dispute_status,
       open_payments_research.record_id AS record_id
FROM dur_committee_members
INNER JOIN open_payments_research ON UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.physician_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.physician_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.recipient_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_1_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_1_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_1_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_2_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_2_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_2_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_3_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_3_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_3_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_4_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_4_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_4_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_5_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_5_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_5_state)""",
                           con=conn)

DatabaseError: Execution failed on sql 'SELECT dur_committee_members.*,
       open_payments_research.change_type AS change_type,
       open_payments_research.teaching_hospital_name AS hospital,
       open_payments_research.physician_profile_id AS physician_id,
       open_payments_research.physician_first_name AS first,
       open_payments_research.physician_middle_name AS middle,
       open_payments_research.physician_last_name AS last,
       open_payments_research.recipient_city AS city,
       open_payments_research.recipient_state AS state,
       open_payments_research.physician_specialty AS specialty,
       open_payments_research.applicable_manufacturer_or_applicable_gpo_making_payment_id AS manufacturer_id,
       open_payments_research.applicable_manufacturer_or_applicable_gpo_making_payment_name AS manufacturer_name,
       open_payments_research.total_amount_of_payment_usdollars AS amount,
       open_payments_research.date_of_payment AS payment_date,
       open_payments_research.form_of_payment_or_transfer_of_value AS payment_form,
       open_payments_research.principal_investigator_1_first_name,
       open_payments_research.principal_investigator_1_middle_name,
       open_payments_research.principal_investigator_1_last_name,
       open_payments_research.principal_investigator_1_city,
       open_payments_research.principal_investigator_1_state,
       open_payments_research.principal_investigator_1_specialty,
       open_payments_research.principal_investigator_2_first_name,
       open_payments_research.principal_investigator_2_middle_name,
       open_payments_research.principal_investigator_2_last_name,
       open_payments_research.principal_investigator_2_city,
       open_payments_research.principal_investigator_2_state,
       open_payments_research.principal_investigator_2_specialty,
       open_payments_research.principal_investigator_3_first_name,
       open_payments_research.principal_investigator_3_middle_name,
       open_payments_research.principal_investigator_3_last_name,
       open_payments_research.principal_investigator_3_city,
       open_payments_research.principal_investigator_3_state,
       open_payments_research.principal_investigator_3_specialty,
       open_payments_research.principal_investigator_4_first_name,
       open_payments_research.principal_investigator_4_middle_name,
       open_payments_research.principal_investigator_4_last_name,
       open_payments_research.principal_investigator_4_city,
       open_payments_research.principal_investigator_4_state,
       open_payments_research.principal_investigator_4_specialty,
       open_payments_research.principal_investigator_5_first_name,
       open_payments_research.principal_investigator_5_middle_name,
       open_payments_research.principal_investigator_5_last_name,
       open_payments_research.principal_investigator_5_city,
       open_payments_research.principal_investigator_5_state,
       open_payments_research.principal_investigator_5_specialty,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_1,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_1,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_2,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_2,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_3,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_3,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_4,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_4,
       open_payments_research.name_of_drug_or_biological_or_device_or_medical_supply_1 AS drug_device_5,
       open_payments_research.associated_drug_or_biological_ndc_1 AS ndc_5
       open_payments_research.expenditure_category1 AS expenditure_category_1,
       open_payments_research.expenditure_category2 AS expenditure_category_2,
       open_payments_research.expenditure_category3 AS expenditure_category_3,
       open_payments_research.expenditure_category4 AS expenditure_category_4,
       open_payments_research.expenditure_category5 AS expenditure_category_5,
       open_payments_research.expenditure_category6 AS expenditure_category_6,
       open_payments_research.dispute_status_for_publication AS dispute_status,
       open_payments_research.record_id AS record_id
FROM dur_committee_members
INNER JOIN open_payments_research ON UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.physician_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.physician_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.recipient_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_1_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_1_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_1_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_2_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_2_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_2_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_3_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_3_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_3_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_4_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_4_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_4_state)
OR UPPER(dur_committee_members.first_name) = UPPER(open_payments_research.principal_investigator_5_first_name)
AND UPPER(dur_committee_members.last_name) = UPPER(open_payments_research.principal_investigator_5_last_name)
AND UPPER(dur_committee_members.STATE) = UPPER(open_payments_research.principal_investigator_5_state)': syntax error at or near "open_payments_research"
LINE 56:        open_payments_research.expenditure_category1 AS expen...
                ^

In [ ]:
research_payments["amount"] = pd.to_numeric(research_payments["amount"], errors="raise") # Convert the amount column to float data type
research_payments.info()

Do we have duplicates in the data?

In [ ]:
research_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

We do. Let's drop them.

In [ ]:
research_payments.drop_duplicates("record_id", inplace=True)
research_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

In [ ]:
research_payments

What is the total value of research payments to doctors serving on Medicaid drug utilization boards?

In [ ]:
research_payments["amount"].sum()

In [ ]:
general_payments[general_payments["last_name"].str.contains("uhrik", case=False)]

Export the dataframes to Excel file for further analysis.

In [39]:
writer = pd.ExcelWriter("data/doc_payments.xlsx")
general_payments.to_excel(writer, "general_payments", index=False)
ownership_payments.to_excel(writer, "ownership_payments", index=False)
research_payments.to_excel(writer, "research_payments", index=False)
writer.save()