In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option("display.float_format", lambda x: "%.2f" % x) # Suppress scientific notation for float data type

## Which drugs are states buying most frequently?

First, we need to determine which drugs appear to be outliers as measured by the number of drugs purchased in each state. To get started, query the Medicaid API to return the drug name, the state that bought the drugs and the total number of drugs purchased in 2016.

In [2]:
query = "https://data.medicaid.gov/resource/neai-csgh.json?$select=state_code,product_fda_list_name,sum(units_reimbursed)&$where=suppression_used=False%20and%20not%20state_code='XX'&$group=state_code,product_fda_list_name&$limit=4625479&$$app_token=v3AK8nRjxbWjtmIBGHJ9OmMlb"
units = pd.read_json(query)
units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95081 entries, 0 to 95080
Data columns (total 3 columns):
product_fda_list_name    95079 non-null object
state_code               95081 non-null object
sum_units_reimbursed     95081 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.2+ MB

In [3]:
units.head()

  product_fda_list_name state_code  sum_units_reimbursed
0            ZINC OXIDE         KY             417559.25
1               RAVICTI         TN              15775.00
2            BICILLIN L         IN               1919.67
3            Tramadol H         WA              36053.00
4            NAPROXEN 3         NV               8678.00

Some of our drug names are fully capitalized. Others are not. Since we'll eventually group on that column, we need to standardize that.

In [4]:
units["product_fda_list_name"] = units["product_fda_list_name"].str.upper()
units.head()

  product_fda_list_name state_code  sum_units_reimbursed
0            ZINC OXIDE         KY             417559.25
1               RAVICTI         TN              15775.00
2            BICILLIN L         IN               1919.67
3            TRAMADOL H         WA              36053.00
4            NAPROXEN 3         NV               8678.00

Rank the drugs by their units reimbursed within each state.

In [5]:
units["rank"] = units.groupby("state_code")["sum_units_reimbursed"].rank(method="min", ascending=False).astype(int)
units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95081 entries, 0 to 95080
Data columns (total 4 columns):
product_fda_list_name    95079 non-null object
state_code               95081 non-null object
sum_units_reimbursed     95081 non-null float64
rank                     95081 non-null int32
dtypes: float64(1), int32(1), object(2)
memory usage: 2.5+ MB

Create a new dataframe with the top 10 drugs in each state.

In [6]:
top_10_units = units[units["rank"] <= 10]
top_10_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 73 to 95066
Data columns (total 4 columns):
product_fda_list_name    510 non-null object
state_code               510 non-null object
sum_units_reimbursed     510 non-null float64
rank                     510 non-null int32
dtypes: float64(1), int32(1), object(2)
memory usage: 17.9+ KB

How many times does each drug appear in a state's top-10 list?

In [7]:
counts_units = top_10_units["product_fda_list_name"].value_counts().reset_index() # Create new dataframe of drug counts
counts_units.columns = ["product_fda_list_name", "count"] # Rename columns
counts_units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
product_fda_list_name    62 non-null object
count                    62 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

Merge the dataframes into a single dataframe with both ranks and counts.

In [8]:
top_10_units = top_10_units.merge(counts_units, how="inner", on="product_fda_list_name")
top_10_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 509
Data columns (total 5 columns):
product_fda_list_name    510 non-null object
state_code               510 non-null object
sum_units_reimbursed     510 non-null float64
rank                     510 non-null int32
count                    510 non-null int64
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 21.9+ KB

Which drugs appear in only a single state's top-10 list?

In [9]:
outliers_units = top_10_units[top_10_units["count"] == 1]
outliers_units.sort_values("product_fda_list_name", ascending=True)

    product_fda_list_name state_code  sum_units_reimbursed  rank  count
226            ADVATE 5ML         NV            8649028.00     8      1
500            ALPRAZOLAM         MO            9810078.31    10      1
427            AMLODIPINE         DC            2354345.13    10      1
486            AMMONIUM L         NY           61596452.85     8      1
442            BROMFED DM         TX           61984061.99     7      1
493             BUPROPION         VT            1365163.50     9      1
497            CHILDREN I         TX           77695830.83     6      1
351            CLONAZEPAM         RI            2107665.00     9      1
501            DEXTROAMP-         MA           14594796.50     8      1
487            DEXTROSE 5         WV           12265060.00     8      1
440            FENTANYL 1         MD           58061615.80     1      1
418            FLUOXETINE         VT            1381718.00     8      1
506            GAVILYTE-N         MT            2496000.00     7      1
509            HEPARIN SO         WV           46224063.55     4      1
498            HEPARIN-NS         WV           22624775.00     6      1
441            HYDROXYZIN         AR            8245302.62     5      1
499             LIDOCAINE         NH            3516121.49     3      1
508                 MAPAP         MN           13698340.40     7      1
408            NULYTELY/F         ME            3608000.00     5      1
494            RYNEX DM L         MS           17910198.42     3      1
426            SALINE 0.9         WV           51322227.50     3      1
445            SERTRALINE         VT            1352391.50    10      1
507            SUBOXONE S         VT            1568555.50     6      1

Export the outliers data as an Excel file.

In [10]:
outliers_units.to_excel("outliers_units.xlsx")

## Which drugs are states spending the most money on?

So far, we've determined which drugs appear to be outliers as measured by the number of drugs purchased in each state. We now need to determine which drugs appear to be outliers as measured by the total amount of money spent on the drugs. To get started, query the Medicaid API to return the drug name, the state that bought the drugs and the total amount reimbursed for drugs purchased in 2016.

In [11]:
query = "https://data.medicaid.gov/resource/neai-csgh.json?$select=state_code,product_fda_list_name,sum(total_amount_reimbursed)&$where=suppression_used=False%20and%20not%20state_code='XX'&$group=state_code,product_fda_list_name&$limit=4625479&$$app_token=v3AK8nRjxbWjtmIBGHJ9OmMlb"
amount = pd.read_json(query)
amount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95081 entries, 0 to 95080
Data columns (total 3 columns):
product_fda_list_name          95079 non-null object
state_code                     95081 non-null object
sum_total_amount_reimbursed    95081 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.2+ MB

In [12]:
amount.head()

  product_fda_list_name state_code  sum_total_amount_reimbursed
0            ZINC OXIDE         KY                     44159.87
1               RAVICTI         TN                   2396199.88
2            BICILLIN L         IN                     49854.37
3            Tramadol H         WA                     15903.36
4            NAPROXEN 3         NV                      1353.14

Some of our drug names are fully capitalized. Others are not. Since we'll eventually group on that column, we need to standardize that.

In [13]:
amount["product_fda_list_name"] = amount["product_fda_list_name"].str.upper()
amount.head()

  product_fda_list_name state_code  sum_total_amount_reimbursed
0            ZINC OXIDE         KY                     44159.87
1               RAVICTI         TN                   2396199.88
2            BICILLIN L         IN                     49854.37
3            TRAMADOL H         WA                     15903.36
4            NAPROXEN 3         NV                      1353.14

Rank the drugs by their amount reimbursed within each state.

In [14]:
amount["rank"] = amount.groupby("state_code")["sum_total_amount_reimbursed"].rank(method="min", ascending=False).astype(int)
amount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95081 entries, 0 to 95080
Data columns (total 4 columns):
product_fda_list_name          95079 non-null object
state_code                     95081 non-null object
sum_total_amount_reimbursed    95081 non-null float64
rank                           95081 non-null int32
dtypes: float64(1), int32(1), object(2)
memory usage: 2.5+ MB

Create a new dataframe with the top 10 drugs in each state.

In [15]:
top_10_amount = amount[amount["rank"] <= 10]
top_10_amount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 171 to 94787
Data columns (total 4 columns):
product_fda_list_name          510 non-null object
state_code                     510 non-null object
sum_total_amount_reimbursed    510 non-null float64
rank                           510 non-null int32
dtypes: float64(1), int32(1), object(2)
memory usage: 17.9+ KB

How many times does each drug appear in a state's top-10 list?

In [16]:
counts_amount = top_10_amount["product_fda_list_name"].value_counts().reset_index() # Create new dataframe of drug counts
counts_amount.columns = ["product_fda_list_name", "count"] # Rename columns
counts_amount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 2 columns):
product_fda_list_name    111 non-null object
count                    111 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

Merge the dataframes into a single dataframe with both ranks and counts.

In [17]:
top_10_amount = top_10_amount.merge(counts_amount, how="inner", on="product_fda_list_name")
top_10_amount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 509
Data columns (total 5 columns):
product_fda_list_name          510 non-null object
state_code                     510 non-null object
sum_total_amount_reimbursed    510 non-null float64
rank                           510 non-null int32
count                          510 non-null int64
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 21.9+ KB

Which drugs appear in only a single state's top-10 list?

In [18]:
outliers_amount = top_10_amount[top_10_amount["count"] == 1]
outliers_amount.sort_values("product_fda_list_name", ascending=True)

    product_fda_list_name state_code  sum_total_amount_reimbursed  rank  count
410            ABILIFY 10         MT                   2452464.82     7      1
365            ADVAIR HFA         ME                   3750448.51     9      1
209            ADVATE 5ML         NV                  12833381.30     3      1
403            ARANESP (D         SD                   1961736.07     9      1
501              COMPLERA         NJ                  20299740.37    10      1
416            COMPLERA T         DC                   5734734.51     9      1
503            DEXTROAMP-         MA                  24331641.31     6      1
417            DULERA INH         AL                  12122809.43     6      1
498               EPCLUSA         NH                   2185523.57     7      1
323            EPCLUSA  4         WA                  17715291.62     6      1
473            EPOGEN (EP         SD                  10150030.30     1      1
485            FENTANYL C         VA                  15781613.90     3      1
502            GABAPENTIN         KY                  21820716.65    10      1
257               GENVOYA         NV                   6258759.39     7      1
469            HECTOROL I         SD                   3686857.55     3      1
504            HEPARIN SO         SD                   3418499.91     4      1
465            HUMALOG 10         MA                  22179876.21     9      1
489             HUMULIN N         HI                  10195189.40    10      1
256            HYDROCODON         HI                  11152285.42     9      1
505            HYDROMORPH         VA                  11584997.27     6      1
475            INFLIXIMAB         RI                   5382354.42     4      1
508            LACTATED R         VA                  11065081.12     8      1
490            LATUDA  LU         CA                 153092548.28     4      1
474            METADATE C         OK                   7215924.32     7      1
497            MIXED AMPH         RI                   2942994.84    10      1
491            NASONEX 50         TX                  51677228.06     5      1
402            NASONEX NA         CT                  14977361.90    10      1
464            NEXIUM 40M         CT                  16997841.97     9      1
366             NEXIUM DR         TX                  82383874.27     1      1
287            NOVOLOG FL         MN                  19269013.09     4      1
407            PARICALCIT         SD                   3848074.48     2      1
468                  QVAR         MI                  33638006.52     9      1
476            QVAR INHAL         CA                  95572799.12     9      1
449            RENVELA 80         HI                  15181247.42     5      1
418             SINGULAIR         MS                   8174332.62     3      1
448             SODIUM CL         VA                  10956647.50    10      1
507               SOLIRIS         DE                   2701195.38     9      1
509               SPIRIVA         WV                   9681236.13     9      1
455            TIVICAY 50         DC                   5033723.16    10      1
506            TYSABRI (N         DE                   2910492.99     8      1
210               VENOFER         OR                  13757618.11     5      1
0                  VIREAD         NY                  83016865.75     7      1
500            VIVITROL (         OH                  40205402.91     9      1
488            VIVITROL 3         MA                  23285887.81     7      1
404            WATER STER         SD                   1992375.76     8      1
499            ZEMPLAR, 5         SD                   2330354.13     6      1
496            ZEPATIER 5         NM                   8353473.10     9      1

Export the outliers data as an Excel file.

In [19]:
outliers_amount.to_excel("outliers_amount.xlsx")