In [1]:
import json
import numpy as np
import pandas as pd
import psycopg2
pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 1000)
pd.set_option("display.float_format", lambda x: "%.2f" % x) # Suppress scientific notation for float data type

## Which drugs are states buying most frequently?

First, we need to determine which drugs appear to be outliers as measured by the number of drugs purchased in each state. To get started, query the Medicaid API to return the drug name, the state that bought the drugs and the total number of drugs purchased in 2016.

In [2]:
query = "https://data.medicaid.gov/resource/neai-csgh.json?$select=state_code,product_fda_list_name,sum(units_reimbursed)&$where=suppression_used=False%20and%20not%20state_code='XX'&$group=state_code,product_fda_list_name&$limit=4625479&$$app_token=v3AK8nRjxbWjtmIBGHJ9OmMlb"
units = pd.read_json(query)
units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95185 entries, 0 to 95184
Data columns (total 3 columns):
product_fda_list_name    95183 non-null object
state_code               95185 non-null object
sum_units_reimbursed     95185 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.9+ MB

In [3]:
units.head()

  product_fda_list_name state_code  sum_units_reimbursed
0            ZINC OXIDE         KY             417530.90
1               RAVICTI         TN              15775.00
2            BICILLIN L         IN               1895.51
3            Tramadol H         WA              37041.00
4            NAPROXEN 3         NV               8678.00

Some of our drug names are fully capitalized. Others are not. Since we'll eventually group on that column, we need to standardize that.

In [4]:
units["product_fda_list_name"] = units["product_fda_list_name"].str.upper()
units.head()

  product_fda_list_name state_code  sum_units_reimbursed
0            ZINC OXIDE         KY             417530.90
1               RAVICTI         TN              15775.00
2            BICILLIN L         IN               1895.51
3            TRAMADOL H         WA              37041.00
4            NAPROXEN 3         NV               8678.00

Rank the drugs by their units reimbursed within each state.

In [5]:
units["rank"] = units.groupby("state_code")["sum_units_reimbursed"].rank(method="min", ascending=False).astype(int)
units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95185 entries, 0 to 95184
Data columns (total 4 columns):
product_fda_list_name    95183 non-null object
state_code               95185 non-null object
sum_units_reimbursed     95185 non-null float64
rank                     95185 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB

Create a new dataframe with the top 10 drugs in each state.

In [6]:
top_10_units = units[units["rank"] <= 10]
top_10_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 73 to 95170
Data columns (total 4 columns):
product_fda_list_name    510 non-null object
state_code               510 non-null object
sum_units_reimbursed     510 non-null float64
rank                     510 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 19.9+ KB

How many times does each drug appear in a state's top-10 list?

In [7]:
counts_units = top_10_units["product_fda_list_name"].value_counts().reset_index() # Create new dataframe of drug counts
counts_units.columns = ["product_fda_list_name", "count"] # Rename columns
counts_units.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
product_fda_list_name    62 non-null object
count                    62 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

Merge the dataframes into a single dataframe with both ranks and counts.

In [8]:
top_10_units = top_10_units.merge(counts_units, how="inner", on="product_fda_list_name")
top_10_units.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 509
Data columns (total 5 columns):
product_fda_list_name    510 non-null object
state_code               510 non-null object
sum_units_reimbursed     510 non-null float64
rank                     510 non-null int64
count                    510 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.9+ KB

Which drugs appear in only a single state's top-10 list?

In [9]:
outliers_units = top_10_units[top_10_units["count"] == 1]
outliers_units.sort_values("product_fda_list_name", ascending=True)

    product_fda_list_name state_code  sum_units_reimbursed  rank  count
224            ADVATE 5ML         NV            8649028.00     8      1
500            ALPRAZOLAM         MO            9809834.31    10      1
430            AMLODIPINE         DC            2355515.13    10      1
485            AMMONIUM L         NY           61596452.85     8      1
444            BROMFED DM         TX           62004362.99     7      1
493             BUPROPION         VT            1363162.50     9      1
497            CHILDREN I         TX           77692355.83     6      1
349            CLONAZEPAM         RI            2107665.00     9      1
501            DEXTROAMP-         MA           14595305.50     9      1
486            DEXTROSE 5         WV           12566525.00     8      1
421            FLUOXETINE         VT            1380480.00     8      1
506            GAVILYTE-N         MT            2540000.00     7      1
509            HEPARIN SO         WV           46222824.49     3      1
498            HEPARIN-NS         WV           23384775.00     6      1
490             HERCEPTIN         MA           19476975.00     5      1
443            HYDROXYZIN         AR            8270261.62     5      1
499             LIDOCAINE         NH            3516121.49     3      1
508                 MAPAP         MN           13699344.40     6      1
406            NULYTELY/F         ME            3608000.00     5      1
494            RYNEX DM L         MS           17910226.42     3      1
429            SALINE 0.9         WV           28741347.50     5      1
447            SERTRALINE         VT            1352170.50    10      1
507            SUBOXONE S         VT            1538372.50     6      1

Export the outliers data as an Excel file.

In [10]:
outliers_units.to_excel("data/outliers_units.xlsx")

## Which drugs are states spending the most money on?

So far, we've determined which drugs appear to be outliers as measured by the number of drugs purchased in each state. We now need to determine which drugs appear to be outliers as measured by the total amount of money spent on the drugs. To get started, query the Medicaid API to return the drug name, the state that bought the drugs and the total amount reimbursed for drugs purchased in 2016.

In [11]:
query = "https://data.medicaid.gov/resource/neai-csgh.json?$select=state_code,product_fda_list_name,sum(total_amount_reimbursed)&$where=suppression_used=False%20and%20not%20state_code='XX'&$group=state_code,product_fda_list_name&$limit=4625479&$$app_token=v3AK8nRjxbWjtmIBGHJ9OmMlb"
amount = pd.read_json(query)
amount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95185 entries, 0 to 95184
Data columns (total 3 columns):
product_fda_list_name          95183 non-null object
state_code                     95185 non-null object
sum_total_amount_reimbursed    95185 non-null float64
dtypes: float64(1), object(2)
memory usage: 2.9+ MB

In [12]:
amount.head()

  product_fda_list_name state_code  sum_total_amount_reimbursed
0            ZINC OXIDE         KY                     44152.93
1               RAVICTI         TN                   2396199.88
2            BICILLIN L         IN                     48881.32
3            Tramadol H         WA                     15972.25
4            NAPROXEN 3         NV                      1353.14

Some of our drug names are fully capitalized. Others are not. Since we'll eventually group on that column, we need to standardize that.

In [13]:
amount["product_fda_list_name"] = amount["product_fda_list_name"].str.upper()
amount.head()

  product_fda_list_name state_code  sum_total_amount_reimbursed
0            ZINC OXIDE         KY                     44152.93
1               RAVICTI         TN                   2396199.88
2            BICILLIN L         IN                     48881.32
3            TRAMADOL H         WA                     15972.25
4            NAPROXEN 3         NV                      1353.14

Rank the drugs by their amount reimbursed within each state.

In [14]:
amount["rank"] = amount.groupby("state_code")["sum_total_amount_reimbursed"].rank(method="min", ascending=False).astype(int)
amount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95185 entries, 0 to 95184
Data columns (total 4 columns):
product_fda_list_name          95183 non-null object
state_code                     95185 non-null object
sum_total_amount_reimbursed    95185 non-null float64
rank                           95185 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB

Create a new dataframe with the top 10 drugs in each state.

In [15]:
top_10_amount = amount[amount["rank"] <= 10]
top_10_amount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 171 to 94892
Data columns (total 4 columns):
product_fda_list_name          510 non-null object
state_code                     510 non-null object
sum_total_amount_reimbursed    510 non-null float64
rank                           510 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 19.9+ KB

How many times does each drug appear in a state's top-10 list?

In [16]:
counts_amount = top_10_amount["product_fda_list_name"].value_counts().reset_index() # Create new dataframe of drug counts
counts_amount.columns = ["product_fda_list_name", "count"] # Rename columns
counts_amount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 2 columns):
product_fda_list_name    110 non-null object
count                    110 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

Merge the dataframes into a single dataframe with both ranks and counts.

In [17]:
top_10_amount = top_10_amount.merge(counts_amount, how="inner", on="product_fda_list_name")
top_10_amount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 509
Data columns (total 5 columns):
product_fda_list_name          510 non-null object
state_code                     510 non-null object
sum_total_amount_reimbursed    510 non-null float64
rank                           510 non-null int64
count                          510 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 23.9+ KB

Which drugs appear in only a single state's top-10 list?

In [18]:
outliers_amount = top_10_amount[top_10_amount["count"] == 1]
outliers_amount.sort_values("product_fda_list_name", ascending=True)

    product_fda_list_name state_code  sum_total_amount_reimbursed  rank  count
411            ABILIFY 10         MT                   2534711.31     7      1
366            ADVAIR HFA         ME                   3750001.53     9      1
212            ADVATE 5ML         NV                  12833381.30     3      1
404            ARANESP (D         SD                   1961736.07     9      1
501              COMPLERA         NJ                  20757871.33    10      1
417            COMPLERA T         DC                   5734734.51     9      1
34             DEXAMETHAS         VA                  11047921.43    10      1
503            DEXTROAMP-         MA                  24321167.39     6      1
418            DULERA INH         AL                  12122809.43     6      1
499               EPCLUSA         NH                   2185523.57     7      1
324            EPCLUSA  4         WA                  17715291.62     6      1
474            EPOGEN (EP         SD                  10150030.30     1      1
486            FENTANYL C         VA                  17294146.23     3      1
502            GABAPENTIN         KY                  21819189.48    10      1
259               GENVOYA         NV                   6258759.39     7      1
470            HECTOROL I         SD                   3686857.55     3      1
504            HEPARIN SO         SD                   3418499.91     4      1
466            HUMALOG 10         MA                  22179883.82     9      1
490             HUMULIN N         HI                  10234444.59    10      1
258            HYDROCODON         HI                  11187950.83     9      1
505            HYDROMORPH         VA                  11624005.01     7      1
476            INFLIXIMAB         RI                   5382354.42     4      1
508            LACTATED R         VA                  11127801.82     9      1
491            LATUDA  LU         CA                 153059650.28     4      1
475            METADATE C         OK                   7215924.32     7      1
498            MIXED AMPH         RI                   2942994.84    10      1
492            NASONEX 50         TX                  51664555.76     5      1
403            NASONEX NA         CT                  14977144.17    10      1
465            NEXIUM 40M         CT                  16997841.97     9      1
367             NEXIUM DR         TX                  82350281.47     1      1
289            NOVOLOG FL         MN                  19253299.36     4      1
408            PARICALCIT         SD                   3848074.48     2      1
469                  QVAR         MI                  33638006.52     9      1
477            QVAR INHAL         CA                  95576199.92     9      1
449            RENVELA 80         HI                  15250232.37     5      1
419             SINGULAIR         MS                   8169898.01     3      1
507               SOLIRIS         DE                   2701195.38     9      1
509               SPIRIVA         WV                   9681236.13     9      1
456            TIVICAY 50         DC                   5033723.16    10      1
506            TYSABRI (N         DE                   2910492.99     8      1
213               VENOFER         OR                  13969847.87     5      1
0                  VIREAD         NY                  83016865.75     7      1
489            VIVITROL 3         MA                  23327259.34     7      1
405            WATER STER         SD                   1992375.76     8      1
500            ZEMPLAR, 5         SD                   2330354.13     6      1
497            ZEPATIER 5         NM                   8353473.10     9      1

Export the outliers data as an Excel file.

In [19]:
outliers_amount.to_excel("data/outliers_amount.xlsx")

## How many doctors on Medicaid drug utilization boards have received payments from drug manufacturers?

First, connect to the database.

In [34]:
with open("config.json") as f:
    conf = json.load(f)

In [35]:
conn_str = "host={} dbname={} user={} password={}".format(conf["host"], conf["database"], conf["user"], conf["password"])

In [36]:
conn = psycopg2.connect(conn_str)

Query the database to return the doctors who received any general purpose payments from drug manufacturers.

In [37]:
general_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_general.physician_first_name as first,
       open_payments_general.physician_middle_name as middle,
       open_payments_general.physician_last_name as last,
       open_payments_general.recipient_city as city,
       open_payments_general.recipient_state as state,
       open_payments_general.physician_specialty as specialty,
       open_payments_general.Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID as manufacturer_id,
       open_payments_general.Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name as manufacturer_name,
       open_payments_general.Total_Amount_of_Payment_USDollars as amount,
       open_payments_general.Date_of_Payment as payment_date,
       open_payments_general.Form_of_Payment_or_Transfer_of_Value as payment_form,
       open_payments_general.Nature_of_Payment_or_Transfer_of_Value as nature_of_payment,
       open_payments_general.Record_ID as record_id
FROM dur_committee_members
INNER JOIN open_payments_general ON dur_committee_members.first_name = open_payments_general.physician_first_name
AND dur_committee_members.last_name = open_payments_general.physician_last_name
AND dur_committee_members.state = open_payments_general.recipient_state""",
                           con=conn)

In [38]:
general_payments["amount"] = pd.to_numeric(general_payments["amount"], errors="raise") # Convert the amount column to float data type
general_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371 entries, 0 to 1370
Data columns (total 30 columns):
first_name             1371 non-null object
last_name              1371 non-null object
middle_initial         272 non-null object
degree_1               1308 non-null object
degree_2               64 non-null object
state                  1371 non-null object
dur_pt_other           1371 non-null object
info_date              1371 non-null object
date_minutes_or_web    1371 non-null object
industry_rep           0 non-null object
location               561 non-null object
specialty              101 non-null object
committee_alt_name     442 non-null object
notes                  346 non-null object
disclosure_received    211 non-null object
conflict_disclosed     4 non-null object
conflict_details       4 non-null object
first                  1371 non-null object
middle                 1176 non-null object
last                   1371 non-null object
city                   1371 non-null object
state                  1371 non-null object
specialty              1370 non-null object
manufacturer_id        1371 non-null object
manufacturer_name      1371 non-null object
amount                 1371 non-null float64
payment_date           1371 non-null object
payment_form           1371 non-null object
nature_of_payment      1371 non-null object
record_id              1371 non-null object
dtypes: float64(1), object(29)
memory usage: 321.4+ KB

Do we have duplicates in the committee data?

In [39]:
general_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
293514490    2
150145894    2
103835238    2
256381878    2
149553884    2
102393188    2
255343784    2
293514492    2
255846404    2
150271840    1
150290398    1
150311072    1
150320696    1
150330082    1
9882196      1
150332946    1
150334248    1
150263950    1
150334312    1
150348398    1
150361096    1
150369212    1
150372118    1
150372777    1
150265166    1
150242408    1
150263906    1
150071534    1
150030334    1
150041642    1
150043974    1
150044156    1
150062338    1
150064740    1
150071016    1
150071516    1
150071762    1
150398092    1
150073114    1
150160380    1
150169484    1
150181014    1
150192164    1
150192754    1
150210826    1
150211272    1
150373636    1
150439668    1
150398928    1
150414859    1
150594646    1
150609704    1
150624492    1
150653422    1
150665410    1
150668774    1
150683968    1
150687511    1
150690556    1
150694720    1
150700864    1
150712738    1
150714054    1
150724130    1
150726566    1
150730688    1
150736060    1
150593646    1
150588990    1
150588046    1
150485377    1
150433498    1
150024636    1
150446290    1
150457234    1
150458399    1
150465528    1
150470136    1
150520693    1
150580806    1
150521814    1
150527942    1
150532432    1
150548990    1
150557227    1
150557336    1
150567356    1
150025124    1
149995016    1
150023122    1
149566086    1
149482760    1
149490776    1
149497248    1
149507034    1
149518112    1
149537214    1
149551245    1
149565153    1
149580162    1
150001456    1
149583898    1
149587040    1
149599396    1
149607882    1
149631062    1
149650326    1
149652356    1
149658006    1
149472516    1
149440870    1
149438884    1
149433470    1
149295696    1
149295722    1
149298940    1
149300008    1
149305010    1
149313042    1
149315134    1
149321290    1
149331642    1
149338124    1
149350896    1
149376430    1
149382696    1
149400858    1
149404688    1
149406200    1
149413158    1
149666358    1
149673744    1
149675790    1
149868362    1
149896120    1
149900980    1
149911422    1
149920616    1
149920982    1
149940398    1
149942066    1
149947984    1
149955746    1
149955774    1
149956676    1
149956804    1
149987472    1
149990406    1
149991216    1
149992252    1
150775462    1
149890792    1
149865030    1
149682128    1
149861134    1
149685623    1
149700548    1
149737886    1
149747460    1
149748716    1
149753066    1
149759166    1
149774692    1
149775302    1
149810227    1
149818191    1
149819532    1
149831498    1
149847058    1
149848296    1
149855704    1
149859700    1
150763674    1
150792046    1
150789082    1
173186600    1
173120006    1
173125985    1
173186552    1
173186570    1
173186575    1
173186580    1
173186586    1
173186592    1
173186604    1
164792756    1
173186608    1
173186614    1
173186622    1
173186628    1
173186632    1
173186640    1
173186646    1
173186652    1
173067762    1
173067758    1
173061972    1
173052154    1
164795240    1
164795592    1
164797424    1
164802510    1
164802784    1
164802804    1
164802846    1
164803318    1
164808332    1
164808704    1
164818136    1
171877650    1
173030066    1
173030070    1
173030072    1
173030076    1
173052148    1
173186656    1
173186662    1
173186666    1
173417182    1
173417190    1
173443984    1
173458668    1
173458671    1
173458675    1
173458678    1
173458684    1
173458688    1
173458692    1
173458696    1
173458698    1
173458702    1
173458708    1
173458712    1
173466542    1
173564150    1
173564156    1
173417186    1
173417178    1
173186670    1
173398248    1
173186678    1
173186682    1
173195306    1
173195318    1
173195326    1
173195332    1
173195340    1
173195346    1
173195348    1
173195354    1
173195360    1
173195366    1
173195616    1
173195628    1
173212322    1
173398241    1
173398246    1
164795214    1
164790230    1
149212662    1
159260350    1
150903524    1
150927554    1
150935402    1
150938744    1
150939880    1
150949864    1
159260344    1
159260346    1
159480806    1
164789874    1
159480808    1
160557346    1
164620700    1
164629316    1
164634682    1
164638148    1
164642250    1
164648216    1
150892898    1
150890396    1
150881992    1
150878552    1
150792110    1
150793386    1
150794686    1
150802946    1
150812823    1
150815568    1
150817706    1
150818998    1
150825652    1
150829822    1
150836574    1
150838586    1
150841112    1
150843084    1
150862651    1
150871664    1
150875868    1
164666042    1
164666130    1
164667560    1
164729004    1
164730204    1
164733420    1
164733718    1
164746098    1
164748858    1
164749114    1
164749448    1
164749610    1
164749650    1
164751836    1
164756148    1
164772600    1
164772812    1
164772862    1
164773010    1
164773054    1
164776776    1
164730130    1
164727312    1
164667674    1
164725464    1
164668010    1
164668122    1
164668224    1
164668360    1
164676286    1
164677912    1
164677988    1
164701572    1
164704048    1
164705194    1
164707548    1
164713938    1
164716536    1
164717088    1
164725358    1
164725400    1
164725414    1
149258360    1
149174878    1
149196156    1
101159976    1
101149570    1
101150554    1
101150642    1
101152286    1
101152324    1
101152368    1
101159232    1
101159234    1
101160202    1
101124992    1
101161336    1
101162242    1
101163962    1
101165460    1
101165464    1
101166288    1
101167372    1
101169682    1
101148368    1
101148046    1
101145902    1
101144412    1
101126684    1
101126708    1
101126828    1
101126932    1
101129312    1
101131626    1
101132952    1
101133222    1
101134448    1
101134512    1
101135474    1
101136740    1
101137980    1
101138728    1
101141982    1
101142428    1
101142430    1
101171792    1
101171794    1
101173080    1
101713836    1
101713840    1
101713842    1
101713844    1
101713846    1
101713848    1
102123190    1
102138318    1
102144734    1
102145554    1
102145738    1
102156338    1
102169252    1
102177792    1
102177794    1
102393058    1
103154412    1
103154414    1
101713838    1
101713834    1
101173082    1
101713832    1
101173814    1
101173998    1
101174752    1
101174836    1
101175826    1
101176632    1
101180180    1
101180640    1
101182766    1
101187120    1
101189626    1
101190856    1
101194148    1
101194150    1
101195376    1
101196010    1
101713830    1
101125876    1
101121550    1
104773046    1
100921814    1
100612306    1
100706228    1
100896130    1
100900110    1
100902728    1
100906464    1
100910546    1
100919412    1
100926230    1
101120244    1
100927722    1
100935540    1
100940908    1
100942666    1
100943846    1
100952598    1
100954690    1
100957090    1
100608276    1
100600522    1
100599078    1
100597222    1
100587810    1
100587812    1
100587876    1
100589246    1
100589248    1
100589282    1
100589326    1
100590326    1
100590344    1
100590372    1
100590414    1
100590418    1
100590424    1
100590428    1
100590530    1
100591080    1
100592418    1
100958056    1
100960374    1
100973814    1
101071432    1
101087344    1
101090570    1
101091732    1
101092396    1
101094942    1
101095568    1
101096984    1
101097872    1
101105804    1
101107016    1
101111332    1
101113614    1
101116038    1
101117884    1
101118098    1
101118522    1
101118622    1
101084082    1
101069004    1
100975688    1
101064538    1
100975776    1
101003566    1
101004212    1
101006146    1
101014050    1
            ..
363419444    1
363421176    1
363441122    1
363285720    1
363445816    1
363460244    1
363460362    1
363461292    1
363462608    1
363468672    1
363472356    1
363478514    1
363384610    1
363378202    1
363373970    1
363373282    1
363304196    1
363304672    1
363305608    1
363318020    1
363320670    1
363326590    1
363334654    1
363334962    1
363346434    1
363349598    1
363353916    1
363355286    1
363361074    1
363366426    1
363366716    1
363368582    1
363371970    1
363483398    1
363485102    1
363486580    1
408967056    1
409315324    1
415695997    1
415696001    1
416257013    1
418153193    1
9862357      1
9867430      1
9867551      1
9867557      1
9867692      1
9867711      1
9867728      1
9867768      1
9867776      1
9867801      1
9875297      1
9875610      1
408967214    1
395980408    1
363489378    1
395980368    1
363490184    1
363490528    1
363492876    1
363495924    1
363496868    1
363499416    1
369527184    1
386240268    1
392442885    1
395980042    1
395980082    1
395980123    1
395980168    1
395980204    1
395980248    1
395980276    1
395980326    1
363304014    1
363274936    1
362744210    1
363032806    1
362971076    1
362979950    1
362983142    1
362988100    1
362993464    1
362999532    1
363008692    1
363013508    1
363033008    1
363273052    1
363037066    1
363037794    1
363040638    1
363044348    1
363044480    1
363045404    1
363054820    1
363060134    1
362969110    1
362961212    1
362959354    1
362954014    1
362785248    1
362793684    1
362808994    1
362813098    1
362814226    1
362837714    1
362852294    1
362857168    1
362884820    1
362897126    1
362909320    1
362924880    1
362928766    1
362932394    1
362933442    1
362936686    1
362950828    1
363062590    1
363062646    1
363063282    1
363173002    1
363188502    1
363189672    1
363191418    1
363204700    1
363205288    1
363205808    1
363209590    1
363214948    1
363218166    1
363219090    1
363219270    1
363229462    1
363233034    1
363233434    1
363247010    1
363252732    1
363264790    1
363173714    1
363168346    1
363064470    1
363164804    1
363069628    1
363078766    1
363084174    1
363085768    1
363092444    1
363093282    1
363105114    1
363105332    1
363108830    1
363115782    1
363125510    1
363138926    1
363140000    1
363143822    1
363144136    1
363155720    1
363162684    1
260056455    1
260043400    1
260035031    1
255214084    1
255158974    1
255166298    1
255167186    1
255167946    1
255186224    1
255189291    1
255205424    1
255207544    1
255218250    1
255018866    1
255223387    1
255229356    1
255230178    1
255232066    1
255234908    1
255243015    1
255245190    1
255245236    1
255149266    1
255146736    1
255138016    1
255136976    1
255026286    1
255028882    1
255028970    1
255032384    1
255034368    1
255034868    1
255044490    1
255044804    1
255065240    1
255076998    1
255079180    1
255080144    1
255080228    1
255090380    1
255091786    1
255091816    1
255106960    1
255260282    1
255271099    1
255274364    1
255450474    1
255504316    1
255515434    1
255518484    1
255521682    1
255526740    1
255548520    1
255549687    1
255560052    1
255577236    1
255583268    1
255589276    1
255607452    1
255619304    1
255620274    1
255621872    1
255630606    1
255633002    1
255481700    1
255441728    1
255288082    1
255438864    1
255292402    1
255297303    1
255297874    1
255321448    1
255332292    1
255332377    1
255375956    1
255379314    1
255390884    1
255397601    1
255402752    1
255407812    1
255409262    1
255410656    1
255419052    1
255419226    1
255420975    1
255025890    1
255017258    1
260030210    1
174050486    1
173722314    1
173722318    1
173722322    1
173722328    1
173722332    1
173722336    1
173791534    1
174048274    1
174054130    1
255016622    1
174056842    1
174056878    1
174057810    1
174059204    1
174061326    1
174063010    1
175620962    1
175792668    1
173709784    1
173709778    1
173709774    1
173709769    1
9881371      1
173688128    1
173688136    1
173688138    1
173688142    1
173688148    1
173688150    1
173688154    1
173688160    1
173688164    1
173688168    1
173688172    1
173709740    1
173709748    1
173709754    1
173709759    1
173709764    1
192980616    1
195537458    1
199694729    1
254760464    1
254782936    1
254784194    1
254788390    1
254793510    1
254795586    1
254838412    1
254851118    1
254860261    1
254883748    1
254884068    1
254892626    1
254892878    1
254943754    1
254960622    1
254982304    1
254986792    1
255011860    1
254779822    1
224143524    1
199702084    1
223008706    1
199721001    1
199751667    1
199756930    1
199757442    1
199762852    1
199764284    1
199766194    1
199785366    1
199807084    1
199807128    1
210493142    1
217656600    1
21802534     1
21802535     1
21843458     1
221864988    1
222069378    1
255659436    1
255671824    1
255689420    1
256475870    1
256396569    1
256396984    1
256397212    1
256400702    1
256401252    1
256407842    1
256431248    1
256447948    1
256478010    1
255691082    1
256485058    1
259444318    1
259551238    1
259551240    1
259551242    1
259563042    1
259563044    1
259563046    1
256379226    1
256378956    1
256371918    1
256365836    1
256263000    1
256272326    1
256276808    1
256277424    1
256279652    1
256280388    1
256285638    1
256287248    1
256289848    1
256293270    1
256302132    1
256302166    1
256302822    1
256333392    1
256337916    1
256359806    1
256365528    1
259563048    1
259563050    1
259563052    1
259581374    1
259581378    1
259581380    1
259581382    1
259614290    1
259614292    1
259614294    1
259614296    1
259614298    1
259614300    1
259614302    1
259614304    1
259614306    1
259614308    1
259614310    1
259614312    1
259614314    1
260024278    1
259581376    1
259581372    1
259563054    1
259581370    1
259563056    1
259563058    1
259563060    1
259567192    1
259567194    1
259581346    1
259581348    1
259581350    1
259581352    1
259581354    1
259581356    1
259581358    1
259581360    1
259581362    1
259581364    1
259581366    1
259581368    1
256261892    1
256259686    1
256255784    1
255795530    1
255812026    1
255816328    1
255821544    1
255828592    1
255829002    1
255836346    1
255838280    1
255841778    1
255852954    1
255855504    1
255858096    1
255861208    1
255872440    1
255873924    1
255878858    1
255882240    1
255882800    1
255805514    1
255789453    1
255904810    1
255785628    1
255695318    1
255704542    1
255708410    1
255720520    1
255720682    1
255724446    1
255731582    1
255742814    1
255744986    1
255748925    1
255754872    1
255758584    1
255769730    1
255777037    1
255777994    1
255784086    1
255785350    1
255902310    1
255921466    1
256252480    1
256119230    1
256166666    1
256169692    1
256175100    1
256175800    1
256181268    1
256183816    1
256190788    1
256191554    1
256193596    1
256208152    1
256209880    1
256210250    1
256219184    1
256242422    1
256246328    1
256248042    1
256251650    1
256150023    1
256110422    1
255925506    1
256100450    1
255939084    1
255949524    1
255951710    1
255959026    1
255962260    1
255974038    1
255982444    1
255984130    1
255991540    1
255999432    1
256002654    1
256026972    1
256027280    1
256035440    1
256036156    1
256050710    1
256079838    1
100586208    1
Name: record_id, Length: 1362, dtype: int64

We do. Let's drop them.

In [40]:
general_payments.drop_duplicates("record_id", inplace=True)
general_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
9882196      1
150330082    1
150242408    1
150263906    1
150263950    1
150265166    1
150271840    1
150290398    1
150311072    1
150320696    1
150332946    1
150398928    1
150334248    1
150334312    1
150348398    1
150361096    1
150369212    1
150372118    1
150372777    1
150373636    1
150211272    1
150210826    1
150192754    1
150192164    1
150024636    1
150025124    1
150030334    1
150041642    1
150043974    1
150044156    1
150062338    1
150064740    1
150071016    1
150071516    1
150071534    1
150071762    1
150073114    1
150145894    1
150160380    1
150169484    1
150181014    1
150398092    1
150414859    1
149196156    1
150700864    1
150624492    1
150653422    1
150665410    1
150668774    1
150683968    1
150687511    1
150690556    1
150694720    1
150712738    1
150433498    1
150714054    1
150724130    1
150726566    1
150730688    1
150736060    1
150763674    1
150775462    1
150789082    1
150609704    1
150594646    1
150593646    1
150588990    1
150439668    1
150446290    1
150457234    1
150458399    1
150465528    1
150470136    1
150485377    1
150520693    1
150521814    1
150527942    1
150532432    1
150548990    1
150557227    1
150557336    1
150567356    1
150580806    1
150588046    1
150023122    1
150001456    1
149995016    1
149553884    1
149472516    1
149482760    1
149490776    1
149497248    1
149507034    1
149518112    1
149537214    1
149551245    1
149565153    1
149992252    1
149566086    1
149580162    1
149583898    1
149587040    1
149599396    1
149607882    1
149631062    1
149650326    1
149440870    1
149438884    1
149433470    1
149413158    1
149258360    1
149295696    1
149295722    1
149298940    1
149300008    1
149305010    1
149313042    1
149315134    1
149321290    1
149331642    1
149338124    1
149350896    1
149376430    1
149382696    1
149400858    1
149404688    1
149406200    1
149652356    1
149658006    1
149666358    1
149861134    1
149868362    1
149890792    1
149896120    1
149900980    1
149911422    1
149920616    1
149920982    1
149940398    1
149942066    1
149947984    1
149955746    1
149955774    1
149956676    1
149956804    1
149987472    1
149990406    1
149991216    1
149865030    1
149859700    1
149673744    1
149855704    1
149675790    1
149682128    1
149685623    1
149700548    1
149737886    1
149747460    1
149748716    1
149753066    1
149759166    1
149774692    1
149775302    1
149810227    1
149818191    1
149819532    1
149831498    1
149847058    1
149848296    1
150792046    1
150792110    1
150793386    1
173186614    1
173186570    1
173186575    1
173186580    1
173186586    1
173186592    1
173186600    1
173186604    1
173186608    1
173186622    1
164795592    1
173186628    1
173186632    1
173186640    1
173186646    1
173186652    1
173186656    1
173186662    1
173186666    1
173186552    1
173125985    1
173120006    1
173067762    1
164802510    1
164802784    1
164802804    1
164802846    1
164803318    1
164808332    1
164808704    1
164818136    1
171877650    1
173030066    1
173030070    1
173030072    1
173030076    1
173052148    1
173052154    1
173061972    1
173067758    1
173186670    1
173186678    1
173186682    1
173443984    1
173458671    1
173458675    1
173458678    1
173458684    1
173458688    1
173458692    1
173458696    1
173458698    1
173458702    1
173458708    1
173458712    1
173466542    1
173564150    1
173564156    1
173564158    1
173564162    1
173571048    1
173458668    1
173417190    1
173195306    1
173417186    1
173195318    1
173195326    1
173195332    1
173195340    1
173195346    1
173195348    1
173195354    1
173195360    1
173195366    1
173195616    1
173195628    1
173212322    1
173398241    1
173398246    1
173398248    1
173417178    1
173417182    1
164797424    1
164795240    1
150794686    1
160557346    1
150938744    1
150939880    1
150949864    1
159260344    1
159260346    1
159260350    1
159480806    1
159480808    1
164620700    1
164795214    1
164629316    1
164634682    1
164638148    1
164642250    1
164648216    1
164666042    1
164666130    1
164667560    1
150935402    1
150927554    1
150903524    1
150892898    1
150802946    1
150812823    1
150815568    1
150817706    1
150818998    1
150825652    1
150829822    1
150836574    1
150838586    1
150841112    1
150843084    1
150862651    1
150871664    1
150875868    1
150878552    1
150881992    1
150890396    1
164667674    1
164668010    1
164668122    1
164733420    1
164746098    1
164748858    1
164749114    1
164749448    1
164749610    1
164749650    1
164751836    1
164756148    1
164772600    1
164772812    1
164772862    1
164773010    1
164773054    1
164776776    1
164789874    1
164790230    1
164792756    1
164733718    1
164730204    1
164668224    1
164730130    1
164668360    1
164676286    1
164677912    1
164677988    1
164701572    1
164704048    1
164705194    1
164707548    1
164713938    1
164716536    1
164717088    1
164725358    1
164725400    1
164725414    1
164725464    1
164727312    1
164729004    1
149212662    1
149186238    1
9881371      1
101159976    1
101149570    1
101150554    1
101150642    1
101152286    1
101152324    1
101152368    1
101159232    1
101159234    1
101160202    1
101171794    1
101161336    1
101162242    1
101163962    1
101165460    1
101165464    1
101166288    1
101167372    1
101169682    1
101148368    1
101148046    1
101145902    1
101144412    1
101126684    1
101126708    1
101126828    1
101126932    1
101129312    1
101131626    1
101132952    1
101133222    1
101134448    1
101134512    1
101135474    1
101136740    1
101137980    1
101138728    1
101141982    1
101142428    1
101142430    1
101171792    1
101173080    1
149174878    1
102145554    1
101713840    1
101713842    1
101713844    1
101713846    1
101713848    1
102123190    1
102138318    1
102144734    1
102145738    1
101173082    1
102156338    1
102169252    1
102177792    1
102177794    1
102393058    1
102393188    1
103154412    1
103154414    1
101713838    1
101713836    1
101713834    1
101713832    1
101173814    1
101173998    1
101174752    1
101174836    1
101175826    1
101176632    1
101180180    1
101180640    1
101182766    1
101187120    1
101189626    1
101190856    1
101194148    1
101194150    1
101195376    1
101196010    1
101713830    1
101125876    1
101124992    1
101121550    1
100921814    1
100612306    1
100706228    1
100896130    1
100900110    1
100902728    1
100906464    1
100910546    1
100919412    1
100926230    1
101120244    1
100927722    1
100935540    1
100940908    1
100942666    1
100943846    1
100952598    1
100954690    1
100957090    1
100608276    1
100600522    1
100599078    1
100597222    1
100587810    1
100587812    1
100587876    1
100589246    1
100589248    1
100589282    1
100589326    1
100590326    1
100590344    1
100590372    1
100590414    1
100590418    1
100590424    1
100590428    1
100590530    1
100591080    1
100592418    1
100958056    1
100960374    1
100973814    1
101071432    1
101087344    1
101090570    1
101091732    1
101092396    1
101094942    1
101095568    1
101096984    1
101097872    1
101105804    1
101107016    1
101111332    1
101113614    1
101116038    1
101117884    1
101118098    1
101118522    1
101118622    1
101084082    1
101069004    1
100975688    1
101064538    1
100975776    1
101003566    1
101004212    1
101006146    1
101014050    1
101017382    1
101024636    1
            ..
363421176    1
363441122    1
363285720    1
363445816    1
363460244    1
363460362    1
363461292    1
363462608    1
363468672    1
363472356    1
363478514    1
363384610    1
363378202    1
363373970    1
363373282    1
363304196    1
363304672    1
363305608    1
363318020    1
363320670    1
363326590    1
363334654    1
363334962    1
363346434    1
363349598    1
363353916    1
363355286    1
363361074    1
363366426    1
363366716    1
363368582    1
363371970    1
363483398    1
363485102    1
363486580    1
408967056    1
409315324    1
415695997    1
415696001    1
416257013    1
418153193    1
9862357      1
9867430      1
9867551      1
9867557      1
9867692      1
9867711      1
9867728      1
9867768      1
9867776      1
9867801      1
9875297      1
9875610      1
408967214    1
395980408    1
363489378    1
395980368    1
363490184    1
363490528    1
363492876    1
363495924    1
363496868    1
363499416    1
369527184    1
386240268    1
392442885    1
395980042    1
395980082    1
395980123    1
395980168    1
395980204    1
395980248    1
395980276    1
395980326    1
363304014    1
363274936    1
362744210    1
363032806    1
362971076    1
362979950    1
362983142    1
362988100    1
362993464    1
362999532    1
363008692    1
363013508    1
363033008    1
363273052    1
363037066    1
363037794    1
363040638    1
363044348    1
363044480    1
363045404    1
363054820    1
363060134    1
362969110    1
362961212    1
362959354    1
362954014    1
362785248    1
362793684    1
362808994    1
362813098    1
362814226    1
362837714    1
362852294    1
362857168    1
362884820    1
362897126    1
362909320    1
362924880    1
362928766    1
362932394    1
362933442    1
362936686    1
362950828    1
363062590    1
363062646    1
363063282    1
363173002    1
363188502    1
363189672    1
363191418    1
363204700    1
363205288    1
363205808    1
363209590    1
363214948    1
363218166    1
363219090    1
363219270    1
363229462    1
363233034    1
363233434    1
363247010    1
363252732    1
363264790    1
363173714    1
363168346    1
363064470    1
363164804    1
363069628    1
363078766    1
363084174    1
363085768    1
363092444    1
363093282    1
363105114    1
363105332    1
363108830    1
363115782    1
363125510    1
363138926    1
363140000    1
363143822    1
363144136    1
363155720    1
363162684    1
260061922    1
260056455    1
260043400    1
255229356    1
255167946    1
255186224    1
255189291    1
255205424    1
255207544    1
255214084    1
255218250    1
255223387    1
255230178    1
255028882    1
255232066    1
255234908    1
255243015    1
255245190    1
255245236    1
255260282    1
255271099    1
255274364    1
255167186    1
255166298    1
255158974    1
255149266    1
255032384    1
255034368    1
255034868    1
255044490    1
255044804    1
255065240    1
255076998    1
255079180    1
255080144    1
255080228    1
255090380    1
255091786    1
255091816    1
255106960    1
255136976    1
255138016    1
255146736    1
255288082    1
255292402    1
255297303    1
255504316    1
255518484    1
255521682    1
255526740    1
255548520    1
255549687    1
255560052    1
255577236    1
255583268    1
255589276    1
255607452    1
255619304    1
255620274    1
255621872    1
255630606    1
255633002    1
255659436    1
255671824    1
255515434    1
255481700    1
255297874    1
255450474    1
255321448    1
255332292    1
255332377    1
255343784    1
255375956    1
255379314    1
255390884    1
255397601    1
255402752    1
255407812    1
255409262    1
255410656    1
255419052    1
255419226    1
255420975    1
255438864    1
255441728    1
255028970    1
255026286    1
255691082    1
174056878    1
173722328    1
173722332    1
173722336    1
173791534    1
174048274    1
174050486    1
174054130    1
174056842    1
174057810    1
255025890    1
174059204    1
174061326    1
174063010    1
175620962    1
175792668    1
192980616    1
195537458    1
199694729    1
173722322    1
173722318    1
173722314    1
173709784    1
173688138    1
173688142    1
173688148    1
173688150    1
173688154    1
173688160    1
173688164    1
173688168    1
173688172    1
173709740    1
173709748    1
173709754    1
173709759    1
173709764    1
173709769    1
173709774    1
173709778    1
199702084    1
199721001    1
199751667    1
254784194    1
254793510    1
254795586    1
254838412    1
254851118    1
254860261    1
254883748    1
254884068    1
254892626    1
254892878    1
254943754    1
254960622    1
254982304    1
254986792    1
255011860    1
255016622    1
255017258    1
255018866    1
254788390    1
254782936    1
199756930    1
254779822    1
199757442    1
199762852    1
199764284    1
199766194    1
199785366    1
199807084    1
199807128    1
210493142    1
217656600    1
21802534     1
21802535     1
21843458     1
221864988    1
222069378    1
223008706    1
224143524    1
254760464    1
255689420    1
255695318    1
260035031    1
256478010    1
256396984    1
256397212    1
256400702    1
256401252    1
256407842    1
256431248    1
256447948    1
256475870    1
256485058    1
256263000    1
259444318    1
259551238    1
259551240    1
259551242    1
259563042    1
259563044    1
259563046    1
259563048    1
256396569    1
256381878    1
256379226    1
256378956    1
256276808    1
256277424    1
256279652    1
256280388    1
256285638    1
256287248    1
256289848    1
256293270    1
256302132    1
256302166    1
256302822    1
256333392    1
256337916    1
256359806    1
256365528    1
256365836    1
256371918    1
259563050    1
259563052    1
259563054    1
259581376    1
259581380    1
259581382    1
259614290    1
259614292    1
259614294    1
259614296    1
259614298    1
259614300    1
259614302    1
259614304    1
259614306    1
259614308    1
259614310    1
259614312    1
259614314    1
260024278    1
260030210    1
259581378    1
259581374    1
259563056    1
259581372    1
259563058    1
259563060    1
259567192    1
259567194    1
259581346    1
259581348    1
259581350    1
259581352    1
259581354    1
259581356    1
259581358    1
259581360    1
259581362    1
259581364    1
259581366    1
259581368    1
259581370    1
256272326    1
256261892    1
255704542    1
255855504    1
255821544    1
255828592    1
255829002    1
255836346    1
255838280    1
255841778    1
255846404    1
255852954    1
255858096    1
256259686    1
255861208    1
255872440    1
255873924    1
255878858    1
255882240    1
255882800    1
255902310    1
255904810    1
255816328    1
255812026    1
255805514    1
255795530    1
255708410    1
255720520    1
255720682    1
255724446    1
255731582    1
255742814    1
255744986    1
255748925    1
255754872    1
255758584    1
255769730    1
255777037    1
255777994    1
255784086    1
255785350    1
255785628    1
255789453    1
255921466    1
255925506    1
255939084    1
256166666    1
256175100    1
256175800    1
256181268    1
256183816    1
256190788    1
256191554    1
256193596    1
256208152    1
256209880    1
256210250    1
256219184    1
256242422    1
256246328    1
256248042    1
256251650    1
256252480    1
256255784    1
256169692    1
256150023    1
255949524    1
256119230    1
255951710    1
255959026    1
255962260    1
255974038    1
255982444    1
255984130    1
255991540    1
255999432    1
256002654    1
256026972    1
256027280    1
256035440    1
256036156    1
256050710    1
256079838    1
256100450    1
256110422    1
100586208    1
Name: record_id, Length: 1362, dtype: int64

What is the total value of general purpose payments to doctors serving on Medicaid drug utilization boards?

In [41]:
general_payments["amount"].sum()

143262.4000000001

Query the database to return the doctors who held an ownership or investment interest in any drug manufacturers.

In [46]:
ownership_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_ownership.physician_first_name as first,
       open_payments_ownership.physician_middle_name as middle,
       open_payments_ownership.physician_last_name as last,
       open_payments_ownership.recipient_city as city,
       open_payments_ownership.recipient_state as state,
       open_payments_ownership.physician_specialty as specialty,
       open_payments_ownership.Total_Amount_Invested_USDollars as total_amount_invested,
       open_payments_ownership.Value_of_Interest as value_of_interest,
       open_payments_ownership.Terms_of_Interest as terms_of_interest,
       open_payments_ownership.Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID as manufacturer_id,
       open_payments_ownership.Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name as manufacturer_name,
       open_payments_ownership.Interest_Held_by_Physician_or_an_Immediate_Family_Member as nature_of_interest,
       open_payments_ownership.Record_ID as record_id
FROM dur_committee_members
INNER JOIN open_payments_ownership ON dur_committee_members.first_name = open_payments_ownership.physician_first_name
AND dur_committee_members.last_name = open_payments_ownership.physician_last_name
AND dur_committee_members.state = open_payments_ownership.recipient_state""",
                           con=conn)

In [48]:
# Convert the investment amount columns to float data type
ownership_payments["total_amount_invested"] = pd.to_numeric(ownership_payments["total_amount_invested"], errors="raise")
ownership_payments["value_of_interest"] = pd.to_numeric(ownership_payments["value_of_interest"], errors="raise")
ownership_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 30 columns):
first_name               2 non-null object
last_name                2 non-null object
middle_initial           0 non-null object
degree_1                 2 non-null object
degree_2                 0 non-null object
state                    2 non-null object
dur_pt_other             2 non-null object
info_date                2 non-null object
date_minutes_or_web      2 non-null object
industry_rep             0 non-null object
location                 0 non-null object
specialty                1 non-null object
committee_alt_name       0 non-null object
notes                    1 non-null object
disclosure_received      0 non-null object
conflict_disclosed       0 non-null object
conflict_details         0 non-null object
first                    2 non-null object
middle                   1 non-null object
last                     2 non-null object
city                     2 non-null object
state                    2 non-null object
specialty                2 non-null object
total_amount_invested    2 non-null float64
value_of_interest        2 non-null float64
terms_of_interest        2 non-null object
manufacturer_id          2 non-null object
manufacturer_name        2 non-null object
nature_of_interest       2 non-null object
record_id                2 non-null object
dtypes: float64(2), object(28)
memory usage: 560.0+ bytes

Do we have duplicates in the committee data?

In [49]:
ownership_payments.groupby("record_id")["record_id"].count().sort_values(ascending=False)

record_id
413359278    1
152335554    1
Name: record_id, dtype: int64

In [50]:
ownership_payments

,first_name,last_name,middle_initial,degree_1,degree_2,state,dur_pt_other,info_date,date_minutes_or_web,industry_rep,location,specialty,committee_alt_name,notes,disclosure_received,conflict_disclosed,conflict_details,first,middle,last,city,state,specialty,total_amount_invested,value_of_interest,terms_of_interest,manufacturer_id,manufacturer_name,nature_of_interest,record_id
0,Andreas,Wali,None,MD,None,PA,P&T,3/1/18,From Web,None,None,cardiologist,None,effective Oct 11 2017,None,None,None,Andreas,U,Wali,Camp Hill,PA,Allopathic & Osteopathic Physicians|Internal M...,19086.85,10607.38,Stock ownership,100000000133,TriReme Medical LLC,Physician Covered Recipient,413359278
1,Sharon,Weinstein,None,MD,None,UT,DUR,12/8/16,From Minutes,None,None,None,None,None,None,None,None,Sharon,None,Weinstein,Salt Lake City,UT,Allopathic & Osteopathic Physicians|Psychiatry...,0.00,0.00,None,100000005587,"DARA Biosciences, Inc.",Physician Covered Recipient,152335554

What is the total value of the ownership or investment interest of doctors serving on Medicaid drug utilization boards?

In [51]:
ownership_payments["total_amount_invested"].sum()

19086.85

Query the database to return the doctors who received any research payments from drug manufacturers.

In [ ]:
general_payments = pd.read_sql("""SELECT dur_committee_members.*,
       open_payments_general.physician_first_name as first,
       open_payments_general.physician_middle_name as middle,
       open_payments_general.physician_last_name as last,
       open_payments_general.recipient_city as city,
       open_payments_general.recipient_state as state,
       open_payments_general.physician_specialty as specialty,
       open_payments_general.Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID as manufacturer_id,
       open_payments_general.Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name as manufacturer_name,
       open_payments_general.Total_Amount_of_Payment_USDollars as amount,
       open_payments_general.Date_of_Payment as payment_date,
       open_payments_general.Form_of_Payment_or_Transfer_of_Value as payment_form,
       open_payments_general.Expenditure_Category1 as expenditure_category_1,
       open_payments_general.Expenditure_Category2 as expenditure_category_2,
       open_payments_general.Expenditure_Category3 as expenditure_category_3,
       open_payments_general.Expenditure_Category4 as expenditure_category_4,
       open_payments_general.Expenditure_Category5 as expenditure_category_5,
       open_payments_general.Expenditure_Category6 as expenditure_category_6,
       open_payments_general.Nature_of_Payment_or_Transfer_of_Value as nature_of_payment,
       open_payments_general.Record_ID as record_id
FROM dur_committee_members
INNER JOIN open_payments_general ON dur_committee_members.first_name = open_payments_general.physician_first_name
AND dur_committee_members.last_name = open_payments_general.physician_last_name
AND dur_committee_members.state = open_payments_general.recipient_state""",
                           con=conn)

Export each of the dataframes to an Excel file for further analysis.

In [ ]:
writer = pd.ExcelWriter("data/doc_payments.xlsx")
general_payments.to_excel(writer, "general_payments", index=False)
ownership_payments.to_excel(writer, "ownership_payments", index=False)
research_payments.to_excel(writer, "research_payments", index=False)
writer.save()